READ.develop/private/samples/nodered/samples/flows.json
[
    {
        "id": "31f156fd.ce0eaa",
        "type": "tab",
        "label": "READ sample app"
    },
    {
        "id": "63221c4b.14b9a4",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "ab1ada0d.0d25c8",
        "type": "websocket-listener",
        "z": "",
        "path": "/random",
        "wholemsg": "false"
    },
    {
        "id": "d3c49246.2c3b7",
        "type": "http in",
        "z": "31f156fd.ce0eaa",
        "name": "",
        "url": "/sampleapp/sinandcos",
        "method": "get",
        "swaggerDoc": "",
        "x": 266,
        "y": 115,
        "wires": [
            [
                "5e5eb5bc.a1a14c"
            ]
        ]
    },
    {
        "id": "5e5eb5bc.a1a14c",
        "type": "function",
        "z": "31f156fd.ce0eaa",
        "name": "sinandcos",
        "func": "/*Random Data Generator */\nfunction sinAndCos() {\n    var sin = [],sin2 = [], cos = [];\n    var data = [];\n\n    //Data is represented as an array of {x,y} pairs.\n    for (var i = 0; i < 100; i++) {\n        data.push({\n            time: i,\n            sin: Math.sin(i/10),\n            sin2: Math.sin(i/10) *0.25 + 0.5,\n            cos: 0.5 * Math.cos(i/10+ 2) + Math.random() / 2\n        });\n    }\n    return data;\n}\n\nmsg.payload = sinAndCos();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 534,
        "y": 115,
        "wires": [
            [
                "11d8f63a.ee270a"
            ]
        ]
    },
    {
        "id": "11d8f63a.ee270a",
        "type": "http response",
        "z": "31f156fd.ce0eaa",
        "name": "sinandcos",
        "x": 752,
        "y": 115,
        "wires": []
    },
    {
        "id": "ab7cd64b.e8b208",
        "type": "http in",
        "z": "31f156fd.ce0eaa",
        "name": "",
        "url": "/sampleapp/sincosmissing",
        "method": "get",
        "swaggerDoc": "",
        "x": 242,
        "y": 220,
        "wires": [
            [
                "c882b568.93faf8"
            ]
        ]
    },
    {
        "id": "c882b568.93faf8",
        "type": "function",
        "z": "31f156fd.ce0eaa",
        "name": "sincosmissing",
        "func": "/*Random Data Generator */\nfunction sinAndCos() {\n    var sin = [],sin2 = [], cos = [];\n    var data = [];\n\n    //Data is represented as an array of {x,y} pairs.\n    for (var i = 0; i < 100; i++) {\n        let obj = {};\n        obj.time = i;\n        if (Math.random() > 0.05) obj.sin = Math.sin(i/10);\n        if (Math.random() > 0.05) obj.sin2 = Math.sin(i/10) *0.25 + 0.5;\n        if (Math.random() > 0.05) obj.cos = 0.5 * Math.cos(i/10+ 2) + Math.random() / 2;\n        data.push(obj);\n    }\n    return data;\n}\n\nmsg.payload = sinAndCos();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 535,
        "y": 220,
        "wires": [
            [
                "ccddb9d7.c5e998"
            ]
        ]
    },
    {
        "id": "ccddb9d7.c5e998",
        "type": "http response",
        "z": "31f156fd.ce0eaa",
        "name": "sincosmissing",
        "x": 753,
        "y": 220,
        "wires": []
    },
    {
        "id": "e2508ab.1907f78",
        "type": "http response",
        "z": "31f156fd.ce0eaa",
        "name": "cars",
        "x": 685,
        "y": 313,
        "wires": []
    },
    {
        "id": "bba6d7a4.197728",
        "type": "http in",
        "z": "31f156fd.ce0eaa",
        "name": "",
        "url": "/sampleapp/cars",
        "method": "get",
        "swaggerDoc": "",
        "x": 267,
        "y": 313,
        "wires": [
            [
                "5db73c9.eaa00c4"
            ]
        ]
    },
    {
        "id": "5db73c9.eaa00c4",
        "type": "function",
        "z": "31f156fd.ce0eaa",
        "name": "cars",
        "func": "/*Random Data Generator */\nfunction cars() {\n    return [\n  {\n    \"mpg\": 18,\n    \"cylinders\": 8,\n    \"engine\": 307,\n    \"horsepower\": 130,\n    \"weight\": 3504,\n    \"acceleration\": 12,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet chevelle malibu\"\n  },\n  {\n    \"mpg\": 15,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 165,\n    \"weight\": 3693,\n    \"acceleration\": 11.5,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"buick skylark 320\"\n  },\n  {\n    \"mpg\": 18,\n    \"cylinders\": 8,\n    \"engine\": 318,\n    \"horsepower\": 150,\n    \"weight\": 3436,\n    \"acceleration\": 11,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"plymouth satellite\"\n  },\n  {\n    \"mpg\": 16,\n    \"cylinders\": 8,\n    \"engine\": 304,\n    \"horsepower\": 150,\n    \"weight\": 3433,\n    \"acceleration\": 12,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"amc rebel sst\"\n  },\n  {\n    \"mpg\": 17,\n    \"cylinders\": 8,\n    \"engine\": 302,\n    \"horsepower\": 140,\n    \"weight\": 3449,\n    \"acceleration\": 10.5,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"ford torino\"\n  },\n  {\n    \"mpg\": 15,\n    \"cylinders\": 8,\n    \"engine\": 429,\n    \"horsepower\": 198,\n    \"weight\": 4341,\n    \"acceleration\": 10,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"ford galaxie 500\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 454,\n    \"horsepower\": 220,\n    \"weight\": 4354,\n    \"acceleration\": 9,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet impala\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 440,\n    \"horsepower\": 215,\n    \"weight\": 4312,\n    \"acceleration\": 8.5,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"plymouth fury iii\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 455,\n    \"horsepower\": 225,\n    \"weight\": 4425,\n    \"acceleration\": 10,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"pontiac catalina\"\n  },\n  {\n    \"mpg\": 15,\n    \"cylinders\": 8,\n    \"engine\": 390,\n    \"horsepower\": 190,\n    \"weight\": 3850,\n    \"acceleration\": 8.5,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"amc ambassador dpl\"\n  },\n  {\n    \"mpg\": \"nan\",\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 165,\n    \"weight\": 4142,\n    \"acceleration\": 11.5,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet chevelle concours (sw)\"\n  },\n  {\n    \"mpg\": \"nan\",\n    \"cylinders\": 8,\n    \"engine\": 351,\n    \"horsepower\": 153,\n    \"weight\": 4034,\n    \"acceleration\": 11,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"ford torino (sw)\"\n  },\n  {\n    \"mpg\": \"nan\",\n    \"cylinders\": 8,\n    \"engine\": 383,\n    \"horsepower\": 175,\n    \"weight\": 4166,\n    \"acceleration\": 10.5,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"plymouth satellite (sw)\"\n  },\n  {\n    \"mpg\": \"nan\",\n    \"cylinders\": 8,\n    \"engine\": 360,\n    \"horsepower\": 175,\n    \"weight\": 3850,\n    \"acceleration\": 11,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"amc rebel sst (sw)\"\n  },\n  {\n    \"mpg\": 15,\n    \"cylinders\": 8,\n    \"engine\": 383,\n    \"horsepower\": 170,\n    \"weight\": 3563,\n    \"acceleration\": 10,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"dodge challenger se\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 340,\n    \"horsepower\": 160,\n    \"weight\": 3609,\n    \"acceleration\": 8,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"plymouth cuda 340\"\n  },\n  {\n    \"mpg\": \"nan\",\n    \"cylinders\": 8,\n    \"engine\": 302,\n    \"horsepower\": 140,\n    \"weight\": 3353,\n    \"acceleration\": 8,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"ford mustang boss 302\"\n  },\n  {\n    \"mpg\": 15,\n    \"cylinders\": 8,\n    \"engine\": 400,\n    \"horsepower\": 150,\n    \"weight\": 3761,\n    \"acceleration\": 9.5,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet monte carlo\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 455,\n    \"horsepower\": 225,\n    \"weight\": 3086,\n    \"acceleration\": 10,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"buick estate wagon (sw)\"\n  },\n  {\n    \"mpg\": 22,\n    \"cylinders\": 6,\n    \"engine\": 198,\n    \"horsepower\": 95,\n    \"weight\": 2833,\n    \"acceleration\": 15.5,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"plymouth duster\"\n  },\n  {\n    \"mpg\": 18,\n    \"cylinders\": 6,\n    \"engine\": 199,\n    \"horsepower\": 97,\n    \"weight\": 2774,\n    \"acceleration\": 15.5,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"amc hornet\"\n  },\n  {\n    \"mpg\": 21,\n    \"cylinders\": 6,\n    \"engine\": 200,\n    \"horsepower\": 85,\n    \"weight\": 2587,\n    \"acceleration\": 16,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"ford maverick\"\n  },\n  {\n    \"mpg\": 21,\n    \"cylinders\": 6,\n    \"engine\": 199,\n    \"horsepower\": 90,\n    \"weight\": 2648,\n    \"acceleration\": 15,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"amc gremlin\"\n  },\n  {\n    \"mpg\": 10,\n    \"cylinders\": 8,\n    \"engine\": 360,\n    \"horsepower\": 215,\n    \"weight\": 4615,\n    \"acceleration\": 14,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"ford f250\"\n  },\n  {\n    \"mpg\": 10,\n    \"cylinders\": 8,\n    \"engine\": 307,\n    \"horsepower\": 200,\n    \"weight\": 4376,\n    \"acceleration\": 15,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"chevy c20\"\n  },\n  {\n    \"mpg\": 11,\n    \"cylinders\": 8,\n    \"engine\": 318,\n    \"horsepower\": 210,\n    \"weight\": 4382,\n    \"acceleration\": 13.5,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"dodge d200\"\n  },\n  {\n    \"mpg\": 9,\n    \"cylinders\": 8,\n    \"engine\": 304,\n    \"horsepower\": 193,\n    \"weight\": 4732,\n    \"acceleration\": 18.5,\n    \"year\": 70,\n    \"origin\": \"American\",\n    \"name\": \"hi 1200d\"\n  },\n  {\n    \"mpg\": 28,\n    \"cylinders\": 4,\n    \"engine\": 140,\n    \"horsepower\": 90,\n    \"weight\": 2264,\n    \"acceleration\": 15.5,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet vega 2300\"\n  },\n  {\n    \"mpg\": 25,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": \"nan\",\n    \"weight\": 2046,\n    \"acceleration\": 19,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"ford pinto\"\n  },\n  {\n    \"mpg\": 19,\n    \"cylinders\": 6,\n    \"engine\": 232,\n    \"horsepower\": 100,\n    \"weight\": 2634,\n    \"acceleration\": 13,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"amc gremlin\"\n  },\n  {\n    \"mpg\": 16,\n    \"cylinders\": 6,\n    \"engine\": 225,\n    \"horsepower\": 105,\n    \"weight\": 3439,\n    \"acceleration\": 15.5,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"plymouth satellite custom\"\n  },\n  {\n    \"mpg\": 17,\n    \"cylinders\": 6,\n    \"engine\": 250,\n    \"horsepower\": 100,\n    \"weight\": 3329,\n    \"acceleration\": 15.5,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet chevelle malibu\"\n  },\n  {\n    \"mpg\": 19,\n    \"cylinders\": 6,\n    \"engine\": 250,\n    \"horsepower\": 88,\n    \"weight\": 3302,\n    \"acceleration\": 15.5,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"ford torino 500\"\n  },\n  {\n    \"mpg\": 18,\n    \"cylinders\": 6,\n    \"engine\": 232,\n    \"horsepower\": 100,\n    \"weight\": 3288,\n    \"acceleration\": 15.5,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"amc matador\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 165,\n    \"weight\": 4209,\n    \"acceleration\": 12,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet impala\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 400,\n    \"horsepower\": 175,\n    \"weight\": 4464,\n    \"acceleration\": 11.5,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"pontiac catalina brougham\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 351,\n    \"horsepower\": 153,\n    \"weight\": 4154,\n    \"acceleration\": 13.5,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"ford galaxie 500\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 318,\n    \"horsepower\": 150,\n    \"weight\": 4096,\n    \"acceleration\": 13,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"plymouth fury iii\"\n  },\n  {\n    \"mpg\": 12,\n    \"cylinders\": 8,\n    \"engine\": 383,\n    \"horsepower\": 180,\n    \"weight\": 4955,\n    \"acceleration\": 11.5,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"dodge monaco (sw)\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 400,\n    \"horsepower\": 170,\n    \"weight\": 4746,\n    \"acceleration\": 12,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"ford country squire (sw)\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 400,\n    \"horsepower\": 175,\n    \"weight\": 5140,\n    \"acceleration\": 12,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"pontiac safari (sw)\"\n  },\n  {\n    \"mpg\": 18,\n    \"cylinders\": 6,\n    \"engine\": 258,\n    \"horsepower\": 110,\n    \"weight\": 2962,\n    \"acceleration\": 13.5,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"amc hornet sportabout (sw)\"\n  },\n  {\n    \"mpg\": 22,\n    \"cylinders\": 4,\n    \"engine\": 140,\n    \"horsepower\": 72,\n    \"weight\": 2408,\n    \"acceleration\": 19,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet vega (sw)\"\n  },\n  {\n    \"mpg\": 19,\n    \"cylinders\": 6,\n    \"engine\": 250,\n    \"horsepower\": 100,\n    \"weight\": 3282,\n    \"acceleration\": 15,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"pontiac firebird\"\n  },\n  {\n    \"mpg\": 18,\n    \"cylinders\": 6,\n    \"engine\": 250,\n    \"horsepower\": 88,\n    \"weight\": 3139,\n    \"acceleration\": 14.5,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"ford mustang\"\n  },\n  {\n    \"mpg\": 23,\n    \"cylinders\": 4,\n    \"engine\": 122,\n    \"horsepower\": 86,\n    \"weight\": 2220,\n    \"acceleration\": 14,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"mercury capri 2000\"\n  },\n  {\n    \"mpg\": 26,\n    \"cylinders\": 4,\n    \"engine\": 91,\n    \"horsepower\": 70,\n    \"weight\": 1955,\n    \"acceleration\": 20.5,\n    \"year\": 71,\n    \"origin\": \"American\",\n    \"name\": \"plymouth cricket\"\n  },\n  {\n    \"mpg\": 25,\n    \"cylinders\": 4,\n    \"engine\": 97.5,\n    \"horsepower\": 80,\n    \"weight\": 2126,\n    \"acceleration\": 17,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"dodge colt hardtop\"\n  },\n  {\n    \"mpg\": 20,\n    \"cylinders\": 4,\n    \"engine\": 140,\n    \"horsepower\": 90,\n    \"weight\": 2408,\n    \"acceleration\": 19.5,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet vega\"\n  },\n  {\n    \"mpg\": 21,\n    \"cylinders\": 4,\n    \"engine\": 122,\n    \"horsepower\": 86,\n    \"weight\": 2226,\n    \"acceleration\": 16.5,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"ford pinto runabout\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 165,\n    \"weight\": 4274,\n    \"acceleration\": 12,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet impala\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 400,\n    \"horsepower\": 175,\n    \"weight\": 4385,\n    \"acceleration\": 12,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"pontiac catalina\"\n  },\n  {\n    \"mpg\": 15,\n    \"cylinders\": 8,\n    \"engine\": 318,\n    \"horsepower\": 150,\n    \"weight\": 4135,\n    \"acceleration\": 13.5,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"plymouth fury iii\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 351,\n    \"horsepower\": 153,\n    \"weight\": 4129,\n    \"acceleration\": 13,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"ford galaxie 500\"\n  },\n  {\n    \"mpg\": 17,\n    \"cylinders\": 8,\n    \"engine\": 304,\n    \"horsepower\": 150,\n    \"weight\": 3672,\n    \"acceleration\": 11.5,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"amc ambassador sst\"\n  },\n  {\n    \"mpg\": 11,\n    \"cylinders\": 8,\n    \"engine\": 429,\n    \"horsepower\": 208,\n    \"weight\": 4633,\n    \"acceleration\": 11,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"mercury marquis\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 155,\n    \"weight\": 4502,\n    \"acceleration\": 13.5,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"buick lesabre custom\"\n  },\n  {\n    \"mpg\": 12,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 160,\n    \"weight\": 4456,\n    \"acceleration\": 13.5,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"oldsmobile delta 88 royale\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 400,\n    \"horsepower\": 190,\n    \"weight\": 4422,\n    \"acceleration\": 12.5,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"chrysler newport royal\"\n  },\n  {\n    \"mpg\": 15,\n    \"cylinders\": 8,\n    \"engine\": 304,\n    \"horsepower\": 150,\n    \"weight\": 3892,\n    \"acceleration\": 12.5,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"amc matador (sw)\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 307,\n    \"horsepower\": 130,\n    \"weight\": 4098,\n    \"acceleration\": 14,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet chevelle concours (sw)\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 302,\n    \"horsepower\": 140,\n    \"weight\": 4294,\n    \"acceleration\": 16,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"ford gran torino (sw)\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 318,\n    \"horsepower\": 150,\n    \"weight\": 4077,\n    \"acceleration\": 14,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"plymouth satellite custom (sw)\"\n  },\n  {\n    \"mpg\": 22,\n    \"cylinders\": 4,\n    \"engine\": 122,\n    \"horsepower\": 86,\n    \"weight\": 2395,\n    \"acceleration\": 16,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"ford pinto (sw)\"\n  },\n  {\n    \"mpg\": 28,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": 80,\n    \"weight\": 2164,\n    \"acceleration\": 15,\n    \"year\": 72,\n    \"origin\": \"American\",\n    \"name\": \"dodge colt (sw)\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 175,\n    \"weight\": 4100,\n    \"acceleration\": 13,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"buick century 350\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 304,\n    \"horsepower\": 150,\n    \"weight\": 3672,\n    \"acceleration\": 11.5,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"amc matador\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 145,\n    \"weight\": 3988,\n    \"acceleration\": 13,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet malibu\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 302,\n    \"horsepower\": 137,\n    \"weight\": 4042,\n    \"acceleration\": 14.5,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"ford gran torino\"\n  },\n  {\n    \"mpg\": 15,\n    \"cylinders\": 8,\n    \"engine\": 318,\n    \"horsepower\": 150,\n    \"weight\": 3777,\n    \"acceleration\": 12.5,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"dodge coronet custom\"\n  },\n  {\n    \"mpg\": 12,\n    \"cylinders\": 8,\n    \"engine\": 429,\n    \"horsepower\": 198,\n    \"weight\": 4952,\n    \"acceleration\": 11.5,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"mercury marquis brougham\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 400,\n    \"horsepower\": 150,\n    \"weight\": 4464,\n    \"acceleration\": 12,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet caprice classic\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 351,\n    \"horsepower\": 158,\n    \"weight\": 4363,\n    \"acceleration\": 13,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"ford ltd\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 318,\n    \"horsepower\": 150,\n    \"weight\": 4237,\n    \"acceleration\": 14.5,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"plymouth fury gran sedan\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 440,\n    \"horsepower\": 215,\n    \"weight\": 4735,\n    \"acceleration\": 11,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"chrysler new yorker brougham\"\n  },\n  {\n    \"mpg\": 12,\n    \"cylinders\": 8,\n    \"engine\": 455,\n    \"horsepower\": 225,\n    \"weight\": 4951,\n    \"acceleration\": 11,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"buick electra 225 custom\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 360,\n    \"horsepower\": 175,\n    \"weight\": 3821,\n    \"acceleration\": 11,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"amc ambassador brougham\"\n  },\n  {\n    \"mpg\": 18,\n    \"cylinders\": 6,\n    \"engine\": 225,\n    \"horsepower\": 105,\n    \"weight\": 3121,\n    \"acceleration\": 16.5,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"plymouth valiant\"\n  },\n  {\n    \"mpg\": 16,\n    \"cylinders\": 6,\n    \"engine\": 250,\n    \"horsepower\": 100,\n    \"weight\": 3278,\n    \"acceleration\": 18,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet nova custom\"\n  },\n  {\n    \"mpg\": 18,\n    \"cylinders\": 6,\n    \"engine\": 232,\n    \"horsepower\": 100,\n    \"weight\": 2945,\n    \"acceleration\": 16,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"amc hornet\"\n  },\n  {\n    \"mpg\": 18,\n    \"cylinders\": 6,\n    \"engine\": 250,\n    \"horsepower\": 88,\n    \"weight\": 3021,\n    \"acceleration\": 16.5,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"ford maverick\"\n  },\n  {\n    \"mpg\": 23,\n    \"cylinders\": 6,\n    \"engine\": 198,\n    \"horsepower\": 95,\n    \"weight\": 2904,\n    \"acceleration\": 16,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"plymouth duster\"\n  },\n  {\n    \"mpg\": 11,\n    \"cylinders\": 8,\n    \"engine\": 400,\n    \"horsepower\": 150,\n    \"weight\": 4997,\n    \"acceleration\": 14,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet impala\"\n  },\n  {\n    \"mpg\": 12,\n    \"cylinders\": 8,\n    \"engine\": 400,\n    \"horsepower\": 167,\n    \"weight\": 4906,\n    \"acceleration\": 12.5,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"ford country\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 360,\n    \"horsepower\": 170,\n    \"weight\": 4654,\n    \"acceleration\": 13,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"plymouth custom suburb\"\n  },\n  {\n    \"mpg\": 12,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 180,\n    \"weight\": 4499,\n    \"acceleration\": 12.5,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"oldsmobile vista cruiser\"\n  },\n  {\n    \"mpg\": 18,\n    \"cylinders\": 6,\n    \"engine\": 232,\n    \"horsepower\": 100,\n    \"weight\": 2789,\n    \"acceleration\": 15,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"amc gremlin\"\n  },\n  {\n    \"mpg\": 21,\n    \"cylinders\": 4,\n    \"engine\": 140,\n    \"horsepower\": 72,\n    \"weight\": 2401,\n    \"acceleration\": 19.5,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet vega\"\n  },\n  {\n    \"mpg\": 19,\n    \"cylinders\": 4,\n    \"engine\": 122,\n    \"horsepower\": 85,\n    \"weight\": 2310,\n    \"acceleration\": 18.5,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"ford pinto\"\n  },\n  {\n    \"mpg\": 21,\n    \"cylinders\": 6,\n    \"engine\": 155,\n    \"horsepower\": 107,\n    \"weight\": 2472,\n    \"acceleration\": 14,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"mercury capri v6\"\n  },\n  {\n    \"mpg\": 15,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 145,\n    \"weight\": 4082,\n    \"acceleration\": 13,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet monte carlo s\"\n  },\n  {\n    \"mpg\": 16,\n    \"cylinders\": 8,\n    \"engine\": 400,\n    \"horsepower\": 230,\n    \"weight\": 4278,\n    \"acceleration\": 9.5,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"pontiac grand prix\"\n  },\n  {\n    \"mpg\": 15,\n    \"cylinders\": 8,\n    \"engine\": 318,\n    \"horsepower\": 150,\n    \"weight\": 3399,\n    \"acceleration\": 11,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"dodge dart custom\"\n  },\n  {\n    \"mpg\": 11,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 180,\n    \"weight\": 3664,\n    \"acceleration\": 11,\n    \"year\": 73,\n    \"origin\": \"American\",\n    \"name\": \"oldsmobile omega\"\n  },\n  {\n    \"mpg\": 20,\n    \"cylinders\": 6,\n    \"engine\": 198,\n    \"horsepower\": 95,\n    \"weight\": 3102,\n    \"acceleration\": 16.5,\n    \"year\": 74,\n    \"origin\": \"American\",\n    \"name\": \"plymouth duster\"\n  },\n  {\n    \"mpg\": 21,\n    \"cylinders\": 6,\n    \"engine\": 200,\n    \"horsepower\": \"nan\",\n    \"weight\": 2875,\n    \"acceleration\": 17,\n    \"year\": 74,\n    \"origin\": \"American\",\n    \"name\": \"ford maverick\"\n  },\n  {\n    \"mpg\": 19,\n    \"cylinders\": 6,\n    \"engine\": 232,\n    \"horsepower\": 100,\n    \"weight\": 2901,\n    \"acceleration\": 16,\n    \"year\": 74,\n    \"origin\": \"American\",\n    \"name\": \"amc hornet\"\n  },\n  {\n    \"mpg\": 15,\n    \"cylinders\": 6,\n    \"engine\": 250,\n    \"horsepower\": 100,\n    \"weight\": 3336,\n    \"acceleration\": 17,\n    \"year\": 74,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet nova\"\n  },\n  {\n    \"mpg\": 26,\n    \"cylinders\": 4,\n    \"engine\": 122,\n    \"horsepower\": 80,\n    \"weight\": 2451,\n    \"acceleration\": 16.5,\n    \"year\": 74,\n    \"origin\": \"American\",\n    \"name\": \"ford pinto\"\n  },\n  {\n    \"mpg\": 25,\n    \"cylinders\": 4,\n    \"engine\": 140,\n    \"horsepower\": 75,\n    \"weight\": 2542,\n    \"acceleration\": 17,\n    \"year\": 74,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet vega\"\n  },\n  {\n    \"mpg\": 16,\n    \"cylinders\": 6,\n    \"engine\": 250,\n    \"horsepower\": 100,\n    \"weight\": 3781,\n    \"acceleration\": 17,\n    \"year\": 74,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet chevelle malibu classic\"\n  },\n  {\n    \"mpg\": 16,\n    \"cylinders\": 6,\n    \"engine\": 258,\n    \"horsepower\": 110,\n    \"weight\": 3632,\n    \"acceleration\": 18,\n    \"year\": 74,\n    \"origin\": \"American\",\n    \"name\": \"amc matador\"\n  },\n  {\n    \"mpg\": 18,\n    \"cylinders\": 6,\n    \"engine\": 225,\n    \"horsepower\": 105,\n    \"weight\": 3613,\n    \"acceleration\": 16.5,\n    \"year\": 74,\n    \"origin\": \"American\",\n    \"name\": \"plymouth satellite sebring\"\n  },\n  {\n    \"mpg\": 16,\n    \"cylinders\": 8,\n    \"engine\": 302,\n    \"horsepower\": 140,\n    \"weight\": 4141,\n    \"acceleration\": 14,\n    \"year\": 74,\n    \"origin\": \"American\",\n    \"name\": \"ford gran torino\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 150,\n    \"weight\": 4699,\n    \"acceleration\": 14.5,\n    \"year\": 74,\n    \"origin\": \"American\",\n    \"name\": \"buick century luxus (sw)\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 318,\n    \"horsepower\": 150,\n    \"weight\": 4457,\n    \"acceleration\": 13.5,\n    \"year\": 74,\n    \"origin\": \"American\",\n    \"name\": \"dodge coronet custom (sw)\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 302,\n    \"horsepower\": 140,\n    \"weight\": 4638,\n    \"acceleration\": 16,\n    \"year\": 74,\n    \"origin\": \"American\",\n    \"name\": \"ford gran torino (sw)\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 304,\n    \"horsepower\": 150,\n    \"weight\": 4257,\n    \"acceleration\": 15.5,\n    \"year\": 74,\n    \"origin\": \"American\",\n    \"name\": \"amc matador (sw)\"\n  },\n  {\n    \"mpg\": 28,\n    \"cylinders\": 4,\n    \"engine\": 90,\n    \"horsepower\": 75,\n    \"weight\": 2125,\n    \"acceleration\": 14.5,\n    \"year\": 74,\n    \"origin\": \"American\",\n    \"name\": \"dodge colt\"\n  },\n  {\n    \"mpg\": 19,\n    \"cylinders\": 6,\n    \"engine\": 225,\n    \"horsepower\": 95,\n    \"weight\": 3264,\n    \"acceleration\": 16,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"plymouth valiant custom\"\n  },\n  {\n    \"mpg\": 18,\n    \"cylinders\": 6,\n    \"engine\": 250,\n    \"horsepower\": 105,\n    \"weight\": 3459,\n    \"acceleration\": 16,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet nova\"\n  },\n  {\n    \"mpg\": 15,\n    \"cylinders\": 6,\n    \"engine\": 250,\n    \"horsepower\": 72,\n    \"weight\": 3432,\n    \"acceleration\": 21,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"mercury monarch\"\n  },\n  {\n    \"mpg\": 15,\n    \"cylinders\": 6,\n    \"engine\": 250,\n    \"horsepower\": 72,\n    \"weight\": 3158,\n    \"acceleration\": 19.5,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"ford maverick\"\n  },\n  {\n    \"mpg\": 16,\n    \"cylinders\": 8,\n    \"engine\": 400,\n    \"horsepower\": 170,\n    \"weight\": 4668,\n    \"acceleration\": 11.5,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"pontiac catalina\"\n  },\n  {\n    \"mpg\": 15,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 145,\n    \"weight\": 4440,\n    \"acceleration\": 14,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet bel air\"\n  },\n  {\n    \"mpg\": 16,\n    \"cylinders\": 8,\n    \"engine\": 318,\n    \"horsepower\": 150,\n    \"weight\": 4498,\n    \"acceleration\": 14.5,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"plymouth grand fury\"\n  },\n  {\n    \"mpg\": 14,\n    \"cylinders\": 8,\n    \"engine\": 351,\n    \"horsepower\": 148,\n    \"weight\": 4657,\n    \"acceleration\": 13.5,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"ford ltd\"\n  },\n  {\n    \"mpg\": 17,\n    \"cylinders\": 6,\n    \"engine\": 231,\n    \"horsepower\": 110,\n    \"weight\": 3907,\n    \"acceleration\": 21,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"buick century\"\n  },\n  {\n    \"mpg\": 16,\n    \"cylinders\": 6,\n    \"engine\": 250,\n    \"horsepower\": 105,\n    \"weight\": 3897,\n    \"acceleration\": 18.5,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"chevroelt chevelle malibu\"\n  },\n  {\n    \"mpg\": 15,\n    \"cylinders\": 6,\n    \"engine\": 258,\n    \"horsepower\": 110,\n    \"weight\": 3730,\n    \"acceleration\": 19,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"amc matador\"\n  },\n  {\n    \"mpg\": 18,\n    \"cylinders\": 6,\n    \"engine\": 225,\n    \"horsepower\": 95,\n    \"weight\": 3785,\n    \"acceleration\": 19,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"plymouth fury\"\n  },\n  {\n    \"mpg\": 21,\n    \"cylinders\": 6,\n    \"engine\": 231,\n    \"horsepower\": 110,\n    \"weight\": 3039,\n    \"acceleration\": 15,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"buick skyhawk\"\n  },\n  {\n    \"mpg\": 20,\n    \"cylinders\": 8,\n    \"engine\": 262,\n    \"horsepower\": 110,\n    \"weight\": 3221,\n    \"acceleration\": 13.5,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet monza 2+2\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 302,\n    \"horsepower\": 129,\n    \"weight\": 3169,\n    \"acceleration\": 12,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"ford mustang ii\"\n  },\n  {\n    \"mpg\": 23,\n    \"cylinders\": 4,\n    \"engine\": 140,\n    \"horsepower\": 83,\n    \"weight\": 2639,\n    \"acceleration\": 17,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"ford pinto\"\n  },\n  {\n    \"mpg\": 20,\n    \"cylinders\": 6,\n    \"engine\": 232,\n    \"horsepower\": 100,\n    \"weight\": 2914,\n    \"acceleration\": 16,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"amc gremlin\"\n  },\n  {\n    \"mpg\": 23,\n    \"cylinders\": 4,\n    \"engine\": 140,\n    \"horsepower\": 78,\n    \"weight\": 2592,\n    \"acceleration\": 18.5,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"pontiac astro\"\n  },\n  {\n    \"mpg\": 18,\n    \"cylinders\": 6,\n    \"engine\": 171,\n    \"horsepower\": 97,\n    \"weight\": 2984,\n    \"acceleration\": 14.5,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"ford pinto\"\n  },\n  {\n    \"mpg\": 19,\n    \"cylinders\": 6,\n    \"engine\": 232,\n    \"horsepower\": 90,\n    \"weight\": 3211,\n    \"acceleration\": 17,\n    \"year\": 75,\n    \"origin\": \"American\",\n    \"name\": \"amc pacer\"\n  },\n  {\n    \"mpg\": 25,\n    \"cylinders\": 4,\n    \"engine\": 140,\n    \"horsepower\": 92,\n    \"weight\": 2572,\n    \"acceleration\": 14.9,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"capri ii\"\n  },\n  {\n    \"mpg\": 26,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": 79,\n    \"weight\": 2255,\n    \"acceleration\": 17.7,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"dodge colt\"\n  },\n  {\n    \"mpg\": 17.5,\n    \"cylinders\": 8,\n    \"engine\": 305,\n    \"horsepower\": 140,\n    \"weight\": 4215,\n    \"acceleration\": 13,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet chevelle malibu classic\"\n  },\n  {\n    \"mpg\": 16,\n    \"cylinders\": 8,\n    \"engine\": 318,\n    \"horsepower\": 150,\n    \"weight\": 4190,\n    \"acceleration\": 13,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"dodge coronet brougham\"\n  },\n  {\n    \"mpg\": 15.5,\n    \"cylinders\": 8,\n    \"engine\": 304,\n    \"horsepower\": 120,\n    \"weight\": 3962,\n    \"acceleration\": 13.9,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"amc matador\"\n  },\n  {\n    \"mpg\": 14.5,\n    \"cylinders\": 8,\n    \"engine\": 351,\n    \"horsepower\": 152,\n    \"weight\": 4215,\n    \"acceleration\": 12.8,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"ford gran torino\"\n  },\n  {\n    \"mpg\": 22,\n    \"cylinders\": 6,\n    \"engine\": 225,\n    \"horsepower\": 100,\n    \"weight\": 3233,\n    \"acceleration\": 15.4,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"plymouth valiant\"\n  },\n  {\n    \"mpg\": 22,\n    \"cylinders\": 6,\n    \"engine\": 250,\n    \"horsepower\": 105,\n    \"weight\": 3353,\n    \"acceleration\": 14.5,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet nova\"\n  },\n  {\n    \"mpg\": 24,\n    \"cylinders\": 6,\n    \"engine\": 200,\n    \"horsepower\": 81,\n    \"weight\": 3012,\n    \"acceleration\": 17.6,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"ford maverick\"\n  },\n  {\n    \"mpg\": 22.5,\n    \"cylinders\": 6,\n    \"engine\": 232,\n    \"horsepower\": 90,\n    \"weight\": 3085,\n    \"acceleration\": 17.6,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"amc hornet\"\n  },\n  {\n    \"mpg\": 29,\n    \"cylinders\": 4,\n    \"engine\": 85,\n    \"horsepower\": 52,\n    \"weight\": 2035,\n    \"acceleration\": 22.2,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet chevette\"\n  },\n  {\n    \"mpg\": 24.5,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": 60,\n    \"weight\": 2164,\n    \"acceleration\": 22.1,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet woody\"\n  },\n  {\n    \"mpg\": 20,\n    \"cylinders\": 6,\n    \"engine\": 225,\n    \"horsepower\": 100,\n    \"weight\": 3651,\n    \"acceleration\": 17.7,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"dodge aspen se\"\n  },\n  {\n    \"mpg\": 18,\n    \"cylinders\": 6,\n    \"engine\": 250,\n    \"horsepower\": 78,\n    \"weight\": 3574,\n    \"acceleration\": 21,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"ford granada ghia\"\n  },\n  {\n    \"mpg\": 18.5,\n    \"cylinders\": 6,\n    \"engine\": 250,\n    \"horsepower\": 110,\n    \"weight\": 3645,\n    \"acceleration\": 16.2,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"pontiac ventura sj\"\n  },\n  {\n    \"mpg\": 17.5,\n    \"cylinders\": 6,\n    \"engine\": 258,\n    \"horsepower\": 95,\n    \"weight\": 3193,\n    \"acceleration\": 17.8,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"amc pacer d/l\"\n  },\n  {\n    \"mpg\": 26.5,\n    \"cylinders\": 4,\n    \"engine\": 140,\n    \"horsepower\": 72,\n    \"weight\": 2565,\n    \"acceleration\": 13.6,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"ford pinto\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 318,\n    \"horsepower\": 150,\n    \"weight\": 3940,\n    \"acceleration\": 13.2,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"plymouth volare premier v8\"\n  },\n  {\n    \"mpg\": 16.5,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 180,\n    \"weight\": 4380,\n    \"acceleration\": 12.1,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"cadillac seville\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 145,\n    \"weight\": 4055,\n    \"acceleration\": 12,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"chevy c10\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 302,\n    \"horsepower\": 130,\n    \"weight\": 3870,\n    \"acceleration\": 15,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"ford f108\"\n  },\n  {\n    \"mpg\": 13,\n    \"cylinders\": 8,\n    \"engine\": 318,\n    \"horsepower\": 150,\n    \"weight\": 3755,\n    \"acceleration\": 14,\n    \"year\": 76,\n    \"origin\": \"American\",\n    \"name\": \"dodge d100\"\n  },\n  {\n    \"mpg\": 30,\n    \"cylinders\": 4,\n    \"engine\": 111,\n    \"horsepower\": 80,\n    \"weight\": 2155,\n    \"acceleration\": 14.8,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"buick opel isuzu deluxe\"\n  },\n  {\n    \"mpg\": 25.5,\n    \"cylinders\": 4,\n    \"engine\": 122,\n    \"horsepower\": 96,\n    \"weight\": 2300,\n    \"acceleration\": 15.5,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"plymouth arrow gs\"\n  },\n  {\n    \"mpg\": 17.5,\n    \"cylinders\": 8,\n    \"engine\": 305,\n    \"horsepower\": 145,\n    \"weight\": 3880,\n    \"acceleration\": 12.5,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet caprice classic\"\n  },\n  {\n    \"mpg\": 17,\n    \"cylinders\": 8,\n    \"engine\": 260,\n    \"horsepower\": 110,\n    \"weight\": 4060,\n    \"acceleration\": 19,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"oldsmobile cutlass supreme\"\n  },\n  {\n    \"mpg\": 15.5,\n    \"cylinders\": 8,\n    \"engine\": 318,\n    \"horsepower\": 145,\n    \"weight\": 4140,\n    \"acceleration\": 13.7,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"dodge monaco brougham\"\n  },\n  {\n    \"mpg\": 15,\n    \"cylinders\": 8,\n    \"engine\": 302,\n    \"horsepower\": 130,\n    \"weight\": 4295,\n    \"acceleration\": 14.9,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"mercury cougar brougham\"\n  },\n  {\n    \"mpg\": 17.5,\n    \"cylinders\": 6,\n    \"engine\": 250,\n    \"horsepower\": 110,\n    \"weight\": 3520,\n    \"acceleration\": 16.4,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet concours\"\n  },\n  {\n    \"mpg\": 20.5,\n    \"cylinders\": 6,\n    \"engine\": 231,\n    \"horsepower\": 105,\n    \"weight\": 3425,\n    \"acceleration\": 16.9,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"buick skylark\"\n  },\n  {\n    \"mpg\": 19,\n    \"cylinders\": 6,\n    \"engine\": 225,\n    \"horsepower\": 100,\n    \"weight\": 3630,\n    \"acceleration\": 17.7,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"plymouth volare custom\"\n  },\n  {\n    \"mpg\": 18.5,\n    \"cylinders\": 6,\n    \"engine\": 250,\n    \"horsepower\": 98,\n    \"weight\": 3525,\n    \"acceleration\": 19,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"ford granada\"\n  },\n  {\n    \"mpg\": 16,\n    \"cylinders\": 8,\n    \"engine\": 400,\n    \"horsepower\": 180,\n    \"weight\": 4220,\n    \"acceleration\": 11.1,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"pontiac grand prix lj\"\n  },\n  {\n    \"mpg\": 15.5,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 170,\n    \"weight\": 4165,\n    \"acceleration\": 11.4,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet monte carlo landau\"\n  },\n  {\n    \"mpg\": 15.5,\n    \"cylinders\": 8,\n    \"engine\": 400,\n    \"horsepower\": 190,\n    \"weight\": 4325,\n    \"acceleration\": 12.2,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"chrysler cordoba\"\n  },\n  {\n    \"mpg\": 16,\n    \"cylinders\": 8,\n    \"engine\": 351,\n    \"horsepower\": 149,\n    \"weight\": 4335,\n    \"acceleration\": 14.5,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"ford thunderbird\"\n  },\n  {\n    \"mpg\": 24.5,\n    \"cylinders\": 4,\n    \"engine\": 151,\n    \"horsepower\": 88,\n    \"weight\": 2740,\n    \"acceleration\": 16,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"pontiac sunbird coupe\"\n  },\n  {\n    \"mpg\": 25.5,\n    \"cylinders\": 4,\n    \"engine\": 140,\n    \"horsepower\": 89,\n    \"weight\": 2755,\n    \"acceleration\": 15.8,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"ford mustang ii 2+2\"\n  },\n  {\n    \"mpg\": 30.5,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": 63,\n    \"weight\": 2051,\n    \"acceleration\": 17,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet chevette\"\n  },\n  {\n    \"mpg\": 33.5,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": 83,\n    \"weight\": 2075,\n    \"acceleration\": 15.9,\n    \"year\": 77,\n    \"origin\": \"American\",\n    \"name\": \"dodge colt m/m\"\n  },\n  {\n    \"mpg\": 36.1,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": 66,\n    \"weight\": 1800,\n    \"acceleration\": 14.4,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"ford fiesta\"\n  },\n  {\n    \"mpg\": 19.9,\n    \"cylinders\": 8,\n    \"engine\": 260,\n    \"horsepower\": 110,\n    \"weight\": 3365,\n    \"acceleration\": 15.5,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"oldsmobile cutlass salon brougham\"\n  },\n  {\n    \"mpg\": 19.4,\n    \"cylinders\": 8,\n    \"engine\": 318,\n    \"horsepower\": 140,\n    \"weight\": 3735,\n    \"acceleration\": 13.2,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"dodge diplomat\"\n  },\n  {\n    \"mpg\": 20.2,\n    \"cylinders\": 8,\n    \"engine\": 302,\n    \"horsepower\": 139,\n    \"weight\": 3570,\n    \"acceleration\": 12.8,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"mercury monarch ghia\"\n  },\n  {\n    \"mpg\": 19.2,\n    \"cylinders\": 6,\n    \"engine\": 231,\n    \"horsepower\": 105,\n    \"weight\": 3535,\n    \"acceleration\": 19.2,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"pontiac phoenix lj\"\n  },\n  {\n    \"mpg\": 20.5,\n    \"cylinders\": 6,\n    \"engine\": 200,\n    \"horsepower\": 95,\n    \"weight\": 3155,\n    \"acceleration\": 18.2,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet malibu\"\n  },\n  {\n    \"mpg\": 20.2,\n    \"cylinders\": 6,\n    \"engine\": 200,\n    \"horsepower\": 85,\n    \"weight\": 2965,\n    \"acceleration\": 15.8,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"ford fairmont (auto)\"\n  },\n  {\n    \"mpg\": 25.1,\n    \"cylinders\": 4,\n    \"engine\": 140,\n    \"horsepower\": 88,\n    \"weight\": 2720,\n    \"acceleration\": 15.4,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"ford fairmont (man)\"\n  },\n  {\n    \"mpg\": 20.5,\n    \"cylinders\": 6,\n    \"engine\": 225,\n    \"horsepower\": 100,\n    \"weight\": 3430,\n    \"acceleration\": 17.2,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"plymouth volare\"\n  },\n  {\n    \"mpg\": 19.4,\n    \"cylinders\": 6,\n    \"engine\": 232,\n    \"horsepower\": 90,\n    \"weight\": 3210,\n    \"acceleration\": 17.2,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"amc concord\"\n  },\n  {\n    \"mpg\": 20.6,\n    \"cylinders\": 6,\n    \"engine\": 231,\n    \"horsepower\": 105,\n    \"weight\": 3380,\n    \"acceleration\": 15.8,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"buick century special\"\n  },\n  {\n    \"mpg\": 20.8,\n    \"cylinders\": 6,\n    \"engine\": 200,\n    \"horsepower\": 85,\n    \"weight\": 3070,\n    \"acceleration\": 16.7,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"mercury zephyr\"\n  },\n  {\n    \"mpg\": 18.6,\n    \"cylinders\": 6,\n    \"engine\": 225,\n    \"horsepower\": 110,\n    \"weight\": 3620,\n    \"acceleration\": 18.7,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"dodge aspen\"\n  },\n  {\n    \"mpg\": 18.1,\n    \"cylinders\": 6,\n    \"engine\": 258,\n    \"horsepower\": 120,\n    \"weight\": 3410,\n    \"acceleration\": 15.1,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"amc concord d/l\"\n  },\n  {\n    \"mpg\": 19.2,\n    \"cylinders\": 8,\n    \"engine\": 305,\n    \"horsepower\": 145,\n    \"weight\": 3425,\n    \"acceleration\": 13.2,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet monte carlo landau\"\n  },\n  {\n    \"mpg\": 17.7,\n    \"cylinders\": 6,\n    \"engine\": 231,\n    \"horsepower\": 165,\n    \"weight\": 3445,\n    \"acceleration\": 13.4,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"buick regal sport coupe (turbo)\"\n  },\n  {\n    \"mpg\": 18.1,\n    \"cylinders\": 8,\n    \"engine\": 302,\n    \"horsepower\": 139,\n    \"weight\": 3205,\n    \"acceleration\": 11.2,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"ford futura\"\n  },\n  {\n    \"mpg\": 17.5,\n    \"cylinders\": 8,\n    \"engine\": 318,\n    \"horsepower\": 140,\n    \"weight\": 4080,\n    \"acceleration\": 13.7,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"dodge magnum xe\"\n  },\n  {\n    \"mpg\": 30,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": 68,\n    \"weight\": 2155,\n    \"acceleration\": 16.5,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet chevette\"\n  },\n  {\n    \"mpg\": 30.9,\n    \"cylinders\": 4,\n    \"engine\": 105,\n    \"horsepower\": 75,\n    \"weight\": 2230,\n    \"acceleration\": 14.5,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"dodge omni\"\n  },\n  {\n    \"mpg\": 23.2,\n    \"cylinders\": 4,\n    \"engine\": 156,\n    \"horsepower\": 105,\n    \"weight\": 2745,\n    \"acceleration\": 16.7,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"plymouth sapporo\"\n  },\n  {\n    \"mpg\": 23.8,\n    \"cylinders\": 4,\n    \"engine\": 151,\n    \"horsepower\": 85,\n    \"weight\": 2855,\n    \"acceleration\": 17.6,\n    \"year\": 78,\n    \"origin\": \"American\",\n    \"name\": \"oldsmobile starfire sx\"\n  },\n  {\n    \"mpg\": 21.5,\n    \"cylinders\": 6,\n    \"engine\": 231,\n    \"horsepower\": 115,\n    \"weight\": 3245,\n    \"acceleration\": 15.4,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"pontiac lemans v6\"\n  },\n  {\n    \"mpg\": 19.8,\n    \"cylinders\": 6,\n    \"engine\": 200,\n    \"horsepower\": 85,\n    \"weight\": 2990,\n    \"acceleration\": 18.2,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"mercury zephyr 6\"\n  },\n  {\n    \"mpg\": 22.3,\n    \"cylinders\": 4,\n    \"engine\": 140,\n    \"horsepower\": 88,\n    \"weight\": 2890,\n    \"acceleration\": 17.3,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"ford fairmont 4\"\n  },\n  {\n    \"mpg\": 20.2,\n    \"cylinders\": 6,\n    \"engine\": 232,\n    \"horsepower\": 90,\n    \"weight\": 3265,\n    \"acceleration\": 18.2,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"amc concord dl 6\"\n  },\n  {\n    \"mpg\": 20.6,\n    \"cylinders\": 6,\n    \"engine\": 225,\n    \"horsepower\": 110,\n    \"weight\": 3360,\n    \"acceleration\": 16.6,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"dodge aspen 6\"\n  },\n  {\n    \"mpg\": 17,\n    \"cylinders\": 8,\n    \"engine\": 305,\n    \"horsepower\": 130,\n    \"weight\": 3840,\n    \"acceleration\": 15.4,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet caprice classic\"\n  },\n  {\n    \"mpg\": 17.6,\n    \"cylinders\": 8,\n    \"engine\": 302,\n    \"horsepower\": 129,\n    \"weight\": 3725,\n    \"acceleration\": 13.4,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"ford ltd landau\"\n  },\n  {\n    \"mpg\": 16.5,\n    \"cylinders\": 8,\n    \"engine\": 351,\n    \"horsepower\": 138,\n    \"weight\": 3955,\n    \"acceleration\": 13.2,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"mercury grand marquis\"\n  },\n  {\n    \"mpg\": 18.2,\n    \"cylinders\": 8,\n    \"engine\": 318,\n    \"horsepower\": 135,\n    \"weight\": 3830,\n    \"acceleration\": 15.2,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"dodge st. regis\"\n  },\n  {\n    \"mpg\": 16.9,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 155,\n    \"weight\": 4360,\n    \"acceleration\": 14.9,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"buick estate wagon (sw)\"\n  },\n  {\n    \"mpg\": 15.5,\n    \"cylinders\": 8,\n    \"engine\": 351,\n    \"horsepower\": 142,\n    \"weight\": 4054,\n    \"acceleration\": 14.3,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"ford country squire (sw)\"\n  },\n  {\n    \"mpg\": 19.2,\n    \"cylinders\": 8,\n    \"engine\": 267,\n    \"horsepower\": 125,\n    \"weight\": 3605,\n    \"acceleration\": 15,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet malibu classic (sw)\"\n  },\n  {\n    \"mpg\": 18.5,\n    \"cylinders\": 8,\n    \"engine\": 360,\n    \"horsepower\": 150,\n    \"weight\": 3940,\n    \"acceleration\": 13,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"chrysler lebaron town @ country (sw)\"\n  },\n  {\n    \"mpg\": 35.7,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": 80,\n    \"weight\": 1915,\n    \"acceleration\": 14.4,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"dodge colt hatchback custom\"\n  },\n  {\n    \"mpg\": 27.4,\n    \"cylinders\": 4,\n    \"engine\": 121,\n    \"horsepower\": 80,\n    \"weight\": 2670,\n    \"acceleration\": 15,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"amc spirit dl\"\n  },\n  {\n    \"mpg\": 23,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 125,\n    \"weight\": 3900,\n    \"acceleration\": 17.4,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"cadillac eldorado\"\n  },\n  {\n    \"mpg\": 23.9,\n    \"cylinders\": 8,\n    \"engine\": 260,\n    \"horsepower\": 90,\n    \"weight\": 3420,\n    \"acceleration\": 22.2,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"oldsmobile cutlass salon brougham\"\n  },\n  {\n    \"mpg\": 34.2,\n    \"cylinders\": 4,\n    \"engine\": 105,\n    \"horsepower\": 70,\n    \"weight\": 2200,\n    \"acceleration\": 13.2,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"plymouth horizon\"\n  },\n  {\n    \"mpg\": 34.5,\n    \"cylinders\": 4,\n    \"engine\": 105,\n    \"horsepower\": 70,\n    \"weight\": 2150,\n    \"acceleration\": 14.9,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"plymouth horizon tc3\"\n  },\n  {\n    \"mpg\": 28.4,\n    \"cylinders\": 4,\n    \"engine\": 151,\n    \"horsepower\": 90,\n    \"weight\": 2670,\n    \"acceleration\": 16,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"buick skylark limited\"\n  },\n  {\n    \"mpg\": 28.8,\n    \"cylinders\": 6,\n    \"engine\": 173,\n    \"horsepower\": 115,\n    \"weight\": 2595,\n    \"acceleration\": 11.3,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet citation\"\n  },\n  {\n    \"mpg\": 26.8,\n    \"cylinders\": 6,\n    \"engine\": 173,\n    \"horsepower\": 115,\n    \"weight\": 2700,\n    \"acceleration\": 12.9,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"oldsmobile omega brougham\"\n  },\n  {\n    \"mpg\": 33.5,\n    \"cylinders\": 4,\n    \"engine\": 151,\n    \"horsepower\": 90,\n    \"weight\": 2556,\n    \"acceleration\": 13.2,\n    \"year\": 79,\n    \"origin\": \"American\",\n    \"name\": \"pontiac phoenix\"\n  },\n  {\n    \"mpg\": 32.1,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": 70,\n    \"weight\": 2120,\n    \"acceleration\": 15.5,\n    \"year\": 80,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet chevette\"\n  },\n  {\n    \"mpg\": 28,\n    \"cylinders\": 4,\n    \"engine\": 151,\n    \"horsepower\": 90,\n    \"weight\": 2678,\n    \"acceleration\": 16.5,\n    \"year\": 80,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet citation\"\n  },\n  {\n    \"mpg\": 26.4,\n    \"cylinders\": 4,\n    \"engine\": 140,\n    \"horsepower\": 88,\n    \"weight\": 2870,\n    \"acceleration\": 18.1,\n    \"year\": 80,\n    \"origin\": \"American\",\n    \"name\": \"ford fairmont\"\n  },\n  {\n    \"mpg\": 24.3,\n    \"cylinders\": 4,\n    \"engine\": 151,\n    \"horsepower\": 90,\n    \"weight\": 3003,\n    \"acceleration\": 20.1,\n    \"year\": 80,\n    \"origin\": \"American\",\n    \"name\": \"amc concord\"\n  },\n  {\n    \"mpg\": 19.1,\n    \"cylinders\": 6,\n    \"engine\": 225,\n    \"horsepower\": 90,\n    \"weight\": 3381,\n    \"acceleration\": 18.7,\n    \"year\": 80,\n    \"origin\": \"American\",\n    \"name\": \"dodge aspen\"\n  },\n  {\n    \"mpg\": 27.9,\n    \"cylinders\": 4,\n    \"engine\": 156,\n    \"horsepower\": 105,\n    \"weight\": 2800,\n    \"acceleration\": 14.4,\n    \"year\": 80,\n    \"origin\": \"American\",\n    \"name\": \"dodge colt\"\n  },\n  {\n    \"mpg\": 23.6,\n    \"cylinders\": 4,\n    \"engine\": 140,\n    \"horsepower\": \"nan\",\n    \"weight\": 2905,\n    \"acceleration\": 14.3,\n    \"year\": 80,\n    \"origin\": \"American\",\n    \"name\": \"ford mustang cobra\"\n  },\n  {\n    \"mpg\": 27.2,\n    \"cylinders\": 4,\n    \"engine\": 135,\n    \"horsepower\": 84,\n    \"weight\": 2490,\n    \"acceleration\": 15.7,\n    \"year\": 81,\n    \"origin\": \"American\",\n    \"name\": \"plymouth reliant\"\n  },\n  {\n    \"mpg\": 26.6,\n    \"cylinders\": 4,\n    \"engine\": 151,\n    \"horsepower\": 84,\n    \"weight\": 2635,\n    \"acceleration\": 16.4,\n    \"year\": 81,\n    \"origin\": \"American\",\n    \"name\": \"buick skylark\"\n  },\n  {\n    \"mpg\": 25.8,\n    \"cylinders\": 4,\n    \"engine\": 156,\n    \"horsepower\": 92,\n    \"weight\": 2620,\n    \"acceleration\": 14.4,\n    \"year\": 81,\n    \"origin\": \"American\",\n    \"name\": \"dodge aries wagon (sw)\"\n  },\n  {\n    \"mpg\": 23.5,\n    \"cylinders\": 6,\n    \"engine\": 173,\n    \"horsepower\": 110,\n    \"weight\": 2725,\n    \"acceleration\": 12.6,\n    \"year\": 81,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet citation\"\n  },\n  {\n    \"mpg\": 30,\n    \"cylinders\": 4,\n    \"engine\": 135,\n    \"horsepower\": 84,\n    \"weight\": 2385,\n    \"acceleration\": 12.9,\n    \"year\": 81,\n    \"origin\": \"American\",\n    \"name\": \"plymouth reliant\"\n  },\n  {\n    \"mpg\": 39,\n    \"cylinders\": 4,\n    \"engine\": 86,\n    \"horsepower\": 64,\n    \"weight\": 1875,\n    \"acceleration\": 16.4,\n    \"year\": 81,\n    \"origin\": \"American\",\n    \"name\": \"plymouth champ\"\n  },\n  {\n    \"mpg\": 34.7,\n    \"cylinders\": 4,\n    \"engine\": 105,\n    \"horsepower\": 63,\n    \"weight\": 2215,\n    \"acceleration\": 14.9,\n    \"year\": 81,\n    \"origin\": \"American\",\n    \"name\": \"plymouth horizon 4\"\n  },\n  {\n    \"mpg\": 34.4,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": 65,\n    \"weight\": 2045,\n    \"acceleration\": 16.2,\n    \"year\": 81,\n    \"origin\": \"American\",\n    \"name\": \"ford escort 4w\"\n  },\n  {\n    \"mpg\": 29.9,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": 65,\n    \"weight\": 2380,\n    \"acceleration\": 20.7,\n    \"year\": 81,\n    \"origin\": \"American\",\n    \"name\": \"ford escort 2h\"\n  },\n  {\n    \"mpg\": 22.4,\n    \"cylinders\": 6,\n    \"engine\": 231,\n    \"horsepower\": 110,\n    \"weight\": 3415,\n    \"acceleration\": 15.8,\n    \"year\": 81,\n    \"origin\": \"American\",\n    \"name\": \"buick century\"\n  },\n  {\n    \"mpg\": 26.6,\n    \"cylinders\": 8,\n    \"engine\": 350,\n    \"horsepower\": 105,\n    \"weight\": 3725,\n    \"acceleration\": 19,\n    \"year\": 81,\n    \"origin\": \"American\",\n    \"name\": \"oldsmobile cutlass ls\"\n  },\n  {\n    \"mpg\": 20.2,\n    \"cylinders\": 6,\n    \"engine\": 200,\n    \"horsepower\": 88,\n    \"weight\": 3060,\n    \"acceleration\": 17.1,\n    \"year\": 81,\n    \"origin\": \"American\",\n    \"name\": \"ford granada gl\"\n  },\n  {\n    \"mpg\": 17.6,\n    \"cylinders\": 6,\n    \"engine\": 225,\n    \"horsepower\": 85,\n    \"weight\": 3465,\n    \"acceleration\": 16.6,\n    \"year\": 81,\n    \"origin\": \"American\",\n    \"name\": \"chrysler lebaron salon\"\n  },\n  {\n    \"mpg\": 28,\n    \"cylinders\": 4,\n    \"engine\": 112,\n    \"horsepower\": 88,\n    \"weight\": 2605,\n    \"acceleration\": 19.6,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet cavalier\"\n  },\n  {\n    \"mpg\": 27,\n    \"cylinders\": 4,\n    \"engine\": 112,\n    \"horsepower\": 88,\n    \"weight\": 2640,\n    \"acceleration\": 18.6,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet cavalier wagon\"\n  },\n  {\n    \"mpg\": 34,\n    \"cylinders\": 4,\n    \"engine\": 112,\n    \"horsepower\": 88,\n    \"weight\": 2395,\n    \"acceleration\": 18,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet cavalier 2-door\"\n  },\n  {\n    \"mpg\": 31,\n    \"cylinders\": 4,\n    \"engine\": 112,\n    \"horsepower\": 85,\n    \"weight\": 2575,\n    \"acceleration\": 16.2,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"pontiac j2000 se hatchback\"\n  },\n  {\n    \"mpg\": 29,\n    \"cylinders\": 4,\n    \"engine\": 135,\n    \"horsepower\": 84,\n    \"weight\": 2525,\n    \"acceleration\": 16,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"dodge aries se\"\n  },\n  {\n    \"mpg\": 27,\n    \"cylinders\": 4,\n    \"engine\": 151,\n    \"horsepower\": 90,\n    \"weight\": 2735,\n    \"acceleration\": 18,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"pontiac phoenix\"\n  },\n  {\n    \"mpg\": 24,\n    \"cylinders\": 4,\n    \"engine\": 140,\n    \"horsepower\": 92,\n    \"weight\": 2865,\n    \"acceleration\": 16.4,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"ford fairmont futura\"\n  },\n  {\n    \"mpg\": 23,\n    \"cylinders\": 4,\n    \"engine\": 151,\n    \"horsepower\": \"nan\",\n    \"weight\": 3035,\n    \"acceleration\": 20.5,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"amc concord dl\"\n  },\n  {\n    \"mpg\": 38,\n    \"cylinders\": 4,\n    \"engine\": 105,\n    \"horsepower\": 63,\n    \"weight\": 2125,\n    \"acceleration\": 14.7,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"plymouth horizon miser\"\n  },\n  {\n    \"mpg\": 36,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": 70,\n    \"weight\": 2125,\n    \"acceleration\": 17.3,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"mercury lynx l\"\n  },\n  {\n    \"mpg\": 25,\n    \"cylinders\": 6,\n    \"engine\": 181,\n    \"horsepower\": 110,\n    \"weight\": 2945,\n    \"acceleration\": 16.4,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"buick century limited\"\n  },\n  {\n    \"mpg\": 38,\n    \"cylinders\": 6,\n    \"engine\": 262,\n    \"horsepower\": 85,\n    \"weight\": 3015,\n    \"acceleration\": 17,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"oldsmobile cutlass ciera (diesel)\"\n  },\n  {\n    \"mpg\": 26,\n    \"cylinders\": 4,\n    \"engine\": 156,\n    \"horsepower\": 92,\n    \"weight\": 2585,\n    \"acceleration\": 14.5,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"chrysler lebaron medallion\"\n  },\n  {\n    \"mpg\": 22,\n    \"cylinders\": 6,\n    \"engine\": 232,\n    \"horsepower\": 112,\n    \"weight\": 2835,\n    \"acceleration\": 14.7,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"ford granada l\"\n  },\n  {\n    \"mpg\": 36,\n    \"cylinders\": 4,\n    \"engine\": 135,\n    \"horsepower\": 84,\n    \"weight\": 2370,\n    \"acceleration\": 13,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"dodge charger 2.2\"\n  },\n  {\n    \"mpg\": 27,\n    \"cylinders\": 4,\n    \"engine\": 151,\n    \"horsepower\": 90,\n    \"weight\": 2950,\n    \"acceleration\": 17.3,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"chevrolet camaro\"\n  },\n  {\n    \"mpg\": 27,\n    \"cylinders\": 4,\n    \"engine\": 140,\n    \"horsepower\": 86,\n    \"weight\": 2790,\n    \"acceleration\": 15.6,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"ford mustang gl\"\n  },\n  {\n    \"mpg\": 32,\n    \"cylinders\": 4,\n    \"engine\": 135,\n    \"horsepower\": 84,\n    \"weight\": 2295,\n    \"acceleration\": 11.6,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"dodge rampage\"\n  },\n  {\n    \"mpg\": 28,\n    \"cylinders\": 4,\n    \"engine\": 120,\n    \"horsepower\": 79,\n    \"weight\": 2625,\n    \"acceleration\": 18.6,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"ford ranger\"\n  },\n  {\n    \"mpg\": 31,\n    \"cylinders\": 4,\n    \"engine\": 119,\n    \"horsepower\": 82,\n    \"weight\": 2720,\n    \"acceleration\": 19.4,\n    \"year\": 82,\n    \"origin\": \"American\",\n    \"name\": \"chevy s-10\"\n  },\n  {\n    \"mpg\": \"nan\",\n    \"cylinders\": 4,\n    \"engine\": 133,\n    \"horsepower\": 115,\n    \"weight\": 3090,\n    \"acceleration\": 17.5,\n    \"year\": 70,\n    \"origin\": \"European\",\n    \"name\": \"citroen ds-21 pallas\"\n  },\n  {\n    \"mpg\": 26,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 46,\n    \"weight\": 1835,\n    \"acceleration\": 20.5,\n    \"year\": 70,\n    \"origin\": \"European\",\n    \"name\": \"volkswagen 1131 deluxe sedan\"\n  },\n  {\n    \"mpg\": 25,\n    \"cylinders\": 4,\n    \"engine\": 110,\n    \"horsepower\": 87,\n    \"weight\": 2672,\n    \"acceleration\": 17.5,\n    \"year\": 70,\n    \"origin\": \"European\",\n    \"name\": \"peugeot 504\"\n  },\n  {\n    \"mpg\": 24,\n    \"cylinders\": 4,\n    \"engine\": 107,\n    \"horsepower\": 90,\n    \"weight\": 2430,\n    \"acceleration\": 14.5,\n    \"year\": 70,\n    \"origin\": \"European\",\n    \"name\": \"audi 100 ls\"\n  },\n  {\n    \"mpg\": 25,\n    \"cylinders\": 4,\n    \"engine\": 104,\n    \"horsepower\": 95,\n    \"weight\": 2375,\n    \"acceleration\": 17.5,\n    \"year\": 70,\n    \"origin\": \"European\",\n    \"name\": \"saab 99e\"\n  },\n  {\n    \"mpg\": 26,\n    \"cylinders\": 4,\n    \"engine\": 121,\n    \"horsepower\": 113,\n    \"weight\": 2234,\n    \"acceleration\": 12.5,\n    \"year\": 70,\n    \"origin\": \"European\",\n    \"name\": \"bmw 2002\"\n  },\n  {\n    \"mpg\": \"nan\",\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 48,\n    \"weight\": 1978,\n    \"acceleration\": 20,\n    \"year\": 71,\n    \"origin\": \"European\",\n    \"name\": \"volkswagen super beetle 117\"\n  },\n  {\n    \"mpg\": 28,\n    \"cylinders\": 4,\n    \"engine\": 116,\n    \"horsepower\": 90,\n    \"weight\": 2123,\n    \"acceleration\": 14,\n    \"year\": 71,\n    \"origin\": \"European\",\n    \"name\": \"opel 1900\"\n  },\n  {\n    \"mpg\": 30,\n    \"cylinders\": 4,\n    \"engine\": 79,\n    \"horsepower\": 70,\n    \"weight\": 2074,\n    \"acceleration\": 19.5,\n    \"year\": 71,\n    \"origin\": \"European\",\n    \"name\": \"peugeot 304\"\n  },\n  {\n    \"mpg\": 30,\n    \"cylinders\": 4,\n    \"engine\": 88,\n    \"horsepower\": 76,\n    \"weight\": 2065,\n    \"acceleration\": 14.5,\n    \"year\": 71,\n    \"origin\": \"European\",\n    \"name\": \"fiat 124b\"\n  },\n  {\n    \"mpg\": 27,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 60,\n    \"weight\": 1834,\n    \"acceleration\": 19,\n    \"year\": 71,\n    \"origin\": \"European\",\n    \"name\": \"volkswagen model 111\"\n  },\n  {\n    \"mpg\": 23,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 54,\n    \"weight\": 2254,\n    \"acceleration\": 23.5,\n    \"year\": 72,\n    \"origin\": \"European\",\n    \"name\": \"volkswagen type 3\"\n  },\n  {\n    \"mpg\": 18,\n    \"cylinders\": 4,\n    \"engine\": 121,\n    \"horsepower\": 112,\n    \"weight\": 2933,\n    \"acceleration\": 14.5,\n    \"year\": 72,\n    \"origin\": \"European\",\n    \"name\": \"volvo 145e (sw)\"\n  },\n  {\n    \"mpg\": 22,\n    \"cylinders\": 4,\n    \"engine\": 121,\n    \"horsepower\": 76,\n    \"weight\": 2511,\n    \"acceleration\": 18,\n    \"year\": 72,\n    \"origin\": \"European\",\n    \"name\": \"volkswagen 411 (sw)\"\n  },\n  {\n    \"mpg\": 21,\n    \"cylinders\": 4,\n    \"engine\": 120,\n    \"horsepower\": 87,\n    \"weight\": 2979,\n    \"acceleration\": 19.5,\n    \"year\": 72,\n    \"origin\": \"European\",\n    \"name\": \"peugeot 504 (sw)\"\n  },\n  {\n    \"mpg\": 26,\n    \"cylinders\": 4,\n    \"engine\": 96,\n    \"horsepower\": 69,\n    \"weight\": 2189,\n    \"acceleration\": 18,\n    \"year\": 72,\n    \"origin\": \"European\",\n    \"name\": \"renault 12 (sw)\"\n  },\n  {\n    \"mpg\": 26,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 46,\n    \"weight\": 1950,\n    \"acceleration\": 21,\n    \"year\": 73,\n    \"origin\": \"European\",\n    \"name\": \"volkswagen super beetle\"\n  },\n  {\n    \"mpg\": 26,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": 90,\n    \"weight\": 2265,\n    \"acceleration\": 15.5,\n    \"year\": 73,\n    \"origin\": \"European\",\n    \"name\": \"fiat 124 sport coupe\"\n  },\n  {\n    \"mpg\": 29,\n    \"cylinders\": 4,\n    \"engine\": 68,\n    \"horsepower\": 49,\n    \"weight\": 1867,\n    \"acceleration\": 19.5,\n    \"year\": 73,\n    \"origin\": \"European\",\n    \"name\": \"fiat 128\"\n  },\n  {\n    \"mpg\": 24,\n    \"cylinders\": 4,\n    \"engine\": 116,\n    \"horsepower\": 75,\n    \"weight\": 2158,\n    \"acceleration\": 15.5,\n    \"year\": 73,\n    \"origin\": \"European\",\n    \"name\": \"opel manta\"\n  },\n  {\n    \"mpg\": 20,\n    \"cylinders\": 4,\n    \"engine\": 114,\n    \"horsepower\": 91,\n    \"weight\": 2582,\n    \"acceleration\": 14,\n    \"year\": 73,\n    \"origin\": \"European\",\n    \"name\": \"audi 100ls\"\n  },\n  {\n    \"mpg\": 19,\n    \"cylinders\": 4,\n    \"engine\": 121,\n    \"horsepower\": 112,\n    \"weight\": 2868,\n    \"acceleration\": 15.5,\n    \"year\": 73,\n    \"origin\": \"European\",\n    \"name\": \"volvo 144ea\"\n  },\n  {\n    \"mpg\": 24,\n    \"cylinders\": 4,\n    \"engine\": 121,\n    \"horsepower\": 110,\n    \"weight\": 2660,\n    \"acceleration\": 14,\n    \"year\": 73,\n    \"origin\": \"European\",\n    \"name\": \"saab 99le\"\n  },\n  {\n    \"mpg\": 29,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": 83,\n    \"weight\": 2219,\n    \"acceleration\": 16.5,\n    \"year\": 74,\n    \"origin\": \"European\",\n    \"name\": \"audi fox\"\n  },\n  {\n    \"mpg\": 26,\n    \"cylinders\": 4,\n    \"engine\": 79,\n    \"horsepower\": 67,\n    \"weight\": 1963,\n    \"acceleration\": 15.5,\n    \"year\": 74,\n    \"origin\": \"European\",\n    \"name\": \"volkswagen dasher\"\n  },\n  {\n    \"mpg\": 26,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 78,\n    \"weight\": 2300,\n    \"acceleration\": 14.5,\n    \"year\": 74,\n    \"origin\": \"European\",\n    \"name\": \"opel manta\"\n  },\n  {\n    \"mpg\": 24,\n    \"cylinders\": 4,\n    \"engine\": 90,\n    \"horsepower\": 75,\n    \"weight\": 2108,\n    \"acceleration\": 15.5,\n    \"year\": 74,\n    \"origin\": \"European\",\n    \"name\": \"fiat 128\"\n  },\n  {\n    \"mpg\": 26,\n    \"cylinders\": 4,\n    \"engine\": 116,\n    \"horsepower\": 75,\n    \"weight\": 2246,\n    \"acceleration\": 14,\n    \"year\": 74,\n    \"origin\": \"European\",\n    \"name\": \"fiat 124 tc\"\n  },\n  {\n    \"mpg\": 31,\n    \"cylinders\": 4,\n    \"engine\": 79,\n    \"horsepower\": 67,\n    \"weight\": 2000,\n    \"acceleration\": 16,\n    \"year\": 74,\n    \"origin\": \"European\",\n    \"name\": \"fiat x1.9\"\n  },\n  {\n    \"mpg\": 25,\n    \"cylinders\": 4,\n    \"engine\": 90,\n    \"horsepower\": 71,\n    \"weight\": 2223,\n    \"acceleration\": 16.5,\n    \"year\": 75,\n    \"origin\": \"European\",\n    \"name\": \"volkswagen dasher\"\n  },\n  {\n    \"mpg\": 29,\n    \"cylinders\": 4,\n    \"engine\": 90,\n    \"horsepower\": 70,\n    \"weight\": 1937,\n    \"acceleration\": 14,\n    \"year\": 75,\n    \"origin\": \"European\",\n    \"name\": \"volkswagen rabbit\"\n  },\n  {\n    \"mpg\": 23,\n    \"cylinders\": 4,\n    \"engine\": 115,\n    \"horsepower\": 95,\n    \"weight\": 2694,\n    \"acceleration\": 15,\n    \"year\": 75,\n    \"origin\": \"European\",\n    \"name\": \"audi 100ls\"\n  },\n  {\n    \"mpg\": 23,\n    \"cylinders\": 4,\n    \"engine\": 120,\n    \"horsepower\": 88,\n    \"weight\": 2957,\n    \"acceleration\": 17,\n    \"year\": 75,\n    \"origin\": \"European\",\n    \"name\": \"peugeot 504\"\n  },\n  {\n    \"mpg\": 22,\n    \"cylinders\": 4,\n    \"engine\": 121,\n    \"horsepower\": 98,\n    \"weight\": 2945,\n    \"acceleration\": 14.5,\n    \"year\": 75,\n    \"origin\": \"European\",\n    \"name\": \"volvo 244dl\"\n  },\n  {\n    \"mpg\": 25,\n    \"cylinders\": 4,\n    \"engine\": 121,\n    \"horsepower\": 115,\n    \"weight\": 2671,\n    \"acceleration\": 13.5,\n    \"year\": 75,\n    \"origin\": \"European\",\n    \"name\": \"saab 99le\"\n  },\n  {\n    \"mpg\": 28,\n    \"cylinders\": 4,\n    \"engine\": 107,\n    \"horsepower\": 86,\n    \"weight\": 2464,\n    \"acceleration\": 15.5,\n    \"year\": 76,\n    \"origin\": \"European\",\n    \"name\": \"fiat 131\"\n  },\n  {\n    \"mpg\": 25,\n    \"cylinders\": 4,\n    \"engine\": 116,\n    \"horsepower\": 81,\n    \"weight\": 2220,\n    \"acceleration\": 16.9,\n    \"year\": 76,\n    \"origin\": \"European\",\n    \"name\": \"opel 1900\"\n  },\n  {\n    \"mpg\": 27,\n    \"cylinders\": 4,\n    \"engine\": 101,\n    \"horsepower\": 83,\n    \"weight\": 2202,\n    \"acceleration\": 15.3,\n    \"year\": 76,\n    \"origin\": \"European\",\n    \"name\": \"renault 12tl\"\n  },\n  {\n    \"mpg\": 29,\n    \"cylinders\": 4,\n    \"engine\": 90,\n    \"horsepower\": 70,\n    \"weight\": 1937,\n    \"acceleration\": 14.2,\n    \"year\": 76,\n    \"origin\": \"European\",\n    \"name\": \"vw rabbit\"\n  },\n  {\n    \"mpg\": 29.5,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 71,\n    \"weight\": 1825,\n    \"acceleration\": 12.2,\n    \"year\": 76,\n    \"origin\": \"European\",\n    \"name\": \"volkswagen rabbit\"\n  },\n  {\n    \"mpg\": 20,\n    \"cylinders\": 4,\n    \"engine\": 130,\n    \"horsepower\": 102,\n    \"weight\": 3150,\n    \"acceleration\": 15.7,\n    \"year\": 76,\n    \"origin\": \"European\",\n    \"name\": \"volvo 245\"\n  },\n  {\n    \"mpg\": 19,\n    \"cylinders\": 4,\n    \"engine\": 120,\n    \"horsepower\": 88,\n    \"weight\": 3270,\n    \"acceleration\": 21.9,\n    \"year\": 76,\n    \"origin\": \"European\",\n    \"name\": \"peugeot 504\"\n  },\n  {\n    \"mpg\": 16.5,\n    \"cylinders\": 6,\n    \"engine\": 168,\n    \"horsepower\": 120,\n    \"weight\": 3820,\n    \"acceleration\": 16.7,\n    \"year\": 76,\n    \"origin\": \"European\",\n    \"name\": \"mercedes-benz 280s\"\n  },\n  {\n    \"mpg\": 36,\n    \"cylinders\": 4,\n    \"engine\": 79,\n    \"horsepower\": 58,\n    \"weight\": 1825,\n    \"acceleration\": 18.6,\n    \"year\": 77,\n    \"origin\": \"European\",\n    \"name\": \"renault 5 gtl\"\n  },\n  {\n    \"mpg\": 29,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 78,\n    \"weight\": 1940,\n    \"acceleration\": 14.5,\n    \"year\": 77,\n    \"origin\": \"European\",\n    \"name\": \"volkswagen rabbit custom\"\n  },\n  {\n    \"mpg\": 30.5,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 78,\n    \"weight\": 2190,\n    \"acceleration\": 14.1,\n    \"year\": 77,\n    \"origin\": \"European\",\n    \"name\": \"volkswagen dasher\"\n  },\n  {\n    \"mpg\": 21.5,\n    \"cylinders\": 4,\n    \"engine\": 121,\n    \"horsepower\": 110,\n    \"weight\": 2600,\n    \"acceleration\": 12.8,\n    \"year\": 77,\n    \"origin\": \"European\",\n    \"name\": \"bmw 320i\"\n  },\n  {\n    \"mpg\": 43.1,\n    \"cylinders\": 4,\n    \"engine\": 90,\n    \"horsepower\": 48,\n    \"weight\": 1985,\n    \"acceleration\": 21.5,\n    \"year\": 78,\n    \"origin\": \"European\",\n    \"name\": \"volkswagen rabbit custom diesel\"\n  },\n  {\n    \"mpg\": 20.3,\n    \"cylinders\": 5,\n    \"engine\": 131,\n    \"horsepower\": 103,\n    \"weight\": 2830,\n    \"acceleration\": 15.9,\n    \"year\": 78,\n    \"origin\": \"European\",\n    \"name\": \"audi 5000\"\n  },\n  {\n    \"mpg\": 17,\n    \"cylinders\": 6,\n    \"engine\": 163,\n    \"horsepower\": 125,\n    \"weight\": 3140,\n    \"acceleration\": 13.6,\n    \"year\": 78,\n    \"origin\": \"European\",\n    \"name\": \"volvo 264gl\"\n  },\n  {\n    \"mpg\": 21.6,\n    \"cylinders\": 4,\n    \"engine\": 121,\n    \"horsepower\": 115,\n    \"weight\": 2795,\n    \"acceleration\": 15.7,\n    \"year\": 78,\n    \"origin\": \"European\",\n    \"name\": \"saab 99gle\"\n  },\n  {\n    \"mpg\": 16.2,\n    \"cylinders\": 6,\n    \"engine\": 163,\n    \"horsepower\": 133,\n    \"weight\": 3410,\n    \"acceleration\": 15.8,\n    \"year\": 78,\n    \"origin\": \"European\",\n    \"name\": \"peugeot 604sl\"\n  },\n  {\n    \"mpg\": 31.5,\n    \"cylinders\": 4,\n    \"engine\": 89,\n    \"horsepower\": 71,\n    \"weight\": 1990,\n    \"acceleration\": 14.9,\n    \"year\": 78,\n    \"origin\": \"European\",\n    \"name\": \"volkswagen scirocco\"\n  },\n  {\n    \"mpg\": 31.9,\n    \"cylinders\": 4,\n    \"engine\": 89,\n    \"horsepower\": 71,\n    \"weight\": 1925,\n    \"acceleration\": 14,\n    \"year\": 79,\n    \"origin\": \"European\",\n    \"name\": \"vw rabbit custom\"\n  },\n  {\n    \"mpg\": 25.4,\n    \"cylinders\": 5,\n    \"engine\": 183,\n    \"horsepower\": 77,\n    \"weight\": 3530,\n    \"acceleration\": 20.1,\n    \"year\": 79,\n    \"origin\": \"European\",\n    \"name\": \"mercedes benz 300d\"\n  },\n  {\n    \"mpg\": 27.2,\n    \"cylinders\": 4,\n    \"engine\": 141,\n    \"horsepower\": 71,\n    \"weight\": 3190,\n    \"acceleration\": 24.8,\n    \"year\": 79,\n    \"origin\": \"European\",\n    \"name\": \"peugeot 504\"\n  },\n  {\n    \"mpg\": 37.3,\n    \"cylinders\": 4,\n    \"engine\": 91,\n    \"horsepower\": 69,\n    \"weight\": 2130,\n    \"acceleration\": 14.7,\n    \"year\": 79,\n    \"origin\": \"European\",\n    \"name\": \"fiat strada custom\"\n  },\n  {\n    \"mpg\": 41.5,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": 76,\n    \"weight\": 2144,\n    \"acceleration\": 14.7,\n    \"year\": 80,\n    \"origin\": \"European\",\n    \"name\": \"vw rabbit\"\n  },\n  {\n    \"mpg\": 34.3,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 78,\n    \"weight\": 2188,\n    \"acceleration\": 15.8,\n    \"year\": 80,\n    \"origin\": \"European\",\n    \"name\": \"audi 4000\"\n  },\n  {\n    \"mpg\": 44.3,\n    \"cylinders\": 4,\n    \"engine\": 90,\n    \"horsepower\": 48,\n    \"weight\": 2085,\n    \"acceleration\": 21.7,\n    \"year\": 80,\n    \"origin\": \"European\",\n    \"name\": \"vw rabbit c (diesel)\"\n  },\n  {\n    \"mpg\": 43.4,\n    \"cylinders\": 4,\n    \"engine\": 90,\n    \"horsepower\": 48,\n    \"weight\": 2335,\n    \"acceleration\": 23.7,\n    \"year\": 80,\n    \"origin\": \"European\",\n    \"name\": \"vw dasher (diesel)\"\n  },\n  {\n    \"mpg\": 36.4,\n    \"cylinders\": 5,\n    \"engine\": 121,\n    \"horsepower\": 67,\n    \"weight\": 2950,\n    \"acceleration\": 19.9,\n    \"year\": 80,\n    \"origin\": \"European\",\n    \"name\": \"audi 5000s (diesel)\"\n  },\n  {\n    \"mpg\": 30,\n    \"cylinders\": 4,\n    \"engine\": 146,\n    \"horsepower\": 67,\n    \"weight\": 3250,\n    \"acceleration\": 21.8,\n    \"year\": 80,\n    \"origin\": \"European\",\n    \"name\": \"mercedes-benz 240d\"\n  },\n  {\n    \"mpg\": 40.9,\n    \"cylinders\": 4,\n    \"engine\": 85,\n    \"horsepower\": \"nan\",\n    \"weight\": 1835,\n    \"acceleration\": 17.3,\n    \"year\": 80,\n    \"origin\": \"European\",\n    \"name\": \"renault lecar deluxe\"\n  },\n  {\n    \"mpg\": 29.8,\n    \"cylinders\": 4,\n    \"engine\": 89,\n    \"horsepower\": 62,\n    \"weight\": 1845,\n    \"acceleration\": 15.3,\n    \"year\": 80,\n    \"origin\": \"European\",\n    \"name\": \"vokswagen rabbit\"\n  },\n  {\n    \"mpg\": 35,\n    \"cylinders\": 4,\n    \"engine\": 122,\n    \"horsepower\": 88,\n    \"weight\": 2500,\n    \"acceleration\": 15.1,\n    \"year\": 80,\n    \"origin\": \"European\",\n    \"name\": \"triumph tr7 coupe\"\n  },\n  {\n    \"mpg\": 33,\n    \"cylinders\": 4,\n    \"engine\": 105,\n    \"horsepower\": 74,\n    \"weight\": 2190,\n    \"acceleration\": 14.2,\n    \"year\": 81,\n    \"origin\": \"European\",\n    \"name\": \"volkswagen jetta\"\n  },\n  {\n    \"mpg\": 34.5,\n    \"cylinders\": 4,\n    \"engine\": 100,\n    \"horsepower\": \"nan\",\n    \"weight\": 2320,\n    \"acceleration\": 15.8,\n    \"year\": 81,\n    \"origin\": \"European\",\n    \"name\": \"renault 18i\"\n  },\n  {\n    \"mpg\": 28.1,\n    \"cylinders\": 4,\n    \"engine\": 141,\n    \"horsepower\": 80,\n    \"weight\": 3230,\n    \"acceleration\": 20.4,\n    \"year\": 81,\n    \"origin\": \"European\",\n    \"name\": \"peugeot 505s turbo diesel\"\n  },\n  {\n    \"mpg\": \"nan\",\n    \"cylinders\": 4,\n    \"engine\": 121,\n    \"horsepower\": 110,\n    \"weight\": 2800,\n    \"acceleration\": 15.4,\n    \"year\": 81,\n    \"origin\": \"European\",\n    \"name\": \"saab 900s\"\n  },\n  {\n    \"mpg\": 30.7,\n    \"cylinders\": 6,\n    \"engine\": 145,\n    \"horsepower\": 76,\n    \"weight\": 3160,\n    \"acceleration\": 19.6,\n    \"year\": 81,\n    \"origin\": \"European\",\n    \"name\": \"volvo diesel\"\n  },\n  {\n    \"mpg\": 36,\n    \"cylinders\": 4,\n    \"engine\": 105,\n    \"horsepower\": 74,\n    \"weight\": 1980,\n    \"acceleration\": 15.3,\n    \"year\": 82,\n    \"origin\": \"European\",\n    \"name\": \"volkswagen rabbit l\"\n  },\n  {\n    \"mpg\": 44,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 52,\n    \"weight\": 2130,\n    \"acceleration\": 24.6,\n    \"year\": 82,\n    \"origin\": \"European\",\n    \"name\": \"vw pickup\"\n  },\n  {\n    \"mpg\": 24,\n    \"cylinders\": 4,\n    \"engine\": 113,\n    \"horsepower\": 95,\n    \"weight\": 2372,\n    \"acceleration\": 15,\n    \"year\": 70,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota corona mark ii\"\n  },\n  {\n    \"mpg\": 27,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 88,\n    \"weight\": 2130,\n    \"acceleration\": 14.5,\n    \"year\": 70,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun pl510\"\n  },\n  {\n    \"mpg\": 27,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 88,\n    \"weight\": 2130,\n    \"acceleration\": 14.5,\n    \"year\": 71,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun pl510\"\n  },\n  {\n    \"mpg\": 25,\n    \"cylinders\": 4,\n    \"engine\": 113,\n    \"horsepower\": 95,\n    \"weight\": 2228,\n    \"acceleration\": 14,\n    \"year\": 71,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota corona\"\n  },\n  {\n    \"mpg\": 31,\n    \"cylinders\": 4,\n    \"engine\": 71,\n    \"horsepower\": 65,\n    \"weight\": 1773,\n    \"acceleration\": 19,\n    \"year\": 71,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota corolla 1200\"\n  },\n  {\n    \"mpg\": 35,\n    \"cylinders\": 4,\n    \"engine\": 72,\n    \"horsepower\": 69,\n    \"weight\": 1613,\n    \"acceleration\": 18,\n    \"year\": 71,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun 1200\"\n  },\n  {\n    \"mpg\": 24,\n    \"cylinders\": 4,\n    \"engine\": 113,\n    \"horsepower\": 95,\n    \"weight\": 2278,\n    \"acceleration\": 15.5,\n    \"year\": 72,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota corona hardtop\"\n  },\n  {\n    \"mpg\": 19,\n    \"cylinders\": 3,\n    \"engine\": 70,\n    \"horsepower\": 97,\n    \"weight\": 2330,\n    \"acceleration\": 13.5,\n    \"year\": 72,\n    \"origin\": \"Japanese\",\n    \"name\": \"mazda rx2 coupe\"\n  },\n  {\n    \"mpg\": 28,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 92,\n    \"weight\": 2288,\n    \"acceleration\": 17,\n    \"year\": 72,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun 510 (sw)\"\n  },\n  {\n    \"mpg\": 23,\n    \"cylinders\": 4,\n    \"engine\": 120,\n    \"horsepower\": 97,\n    \"weight\": 2506,\n    \"acceleration\": 14.5,\n    \"year\": 72,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyouta corona mark ii (sw)\"\n  },\n  {\n    \"mpg\": 27,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 88,\n    \"weight\": 2100,\n    \"acceleration\": 16.5,\n    \"year\": 72,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota corolla 1600 (sw)\"\n  },\n  {\n    \"mpg\": 20,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 88,\n    \"weight\": 2279,\n    \"acceleration\": 19,\n    \"year\": 73,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota carina\"\n  },\n  {\n    \"mpg\": 22,\n    \"cylinders\": 4,\n    \"engine\": 108,\n    \"horsepower\": 94,\n    \"weight\": 2379,\n    \"acceleration\": 16.5,\n    \"year\": 73,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun 610\"\n  },\n  {\n    \"mpg\": 18,\n    \"cylinders\": 3,\n    \"engine\": 70,\n    \"horsepower\": 90,\n    \"weight\": 2124,\n    \"acceleration\": 13.5,\n    \"year\": 73,\n    \"origin\": \"Japanese\",\n    \"name\": \"maxda rx3\"\n  },\n  {\n    \"mpg\": 20,\n    \"cylinders\": 6,\n    \"engine\": 156,\n    \"horsepower\": 122,\n    \"weight\": 2807,\n    \"acceleration\": 13.5,\n    \"year\": 73,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota mark ii\"\n  },\n  {\n    \"mpg\": 31,\n    \"cylinders\": 4,\n    \"engine\": 79,\n    \"horsepower\": 67,\n    \"weight\": 1950,\n    \"acceleration\": 19,\n    \"year\": 74,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun b210\"\n  },\n  {\n    \"mpg\": 32,\n    \"cylinders\": 4,\n    \"engine\": 71,\n    \"horsepower\": 65,\n    \"weight\": 1836,\n    \"acceleration\": 21,\n    \"year\": 74,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota corolla 1200\"\n  },\n  {\n    \"mpg\": 31,\n    \"cylinders\": 4,\n    \"engine\": 76,\n    \"horsepower\": 52,\n    \"weight\": 1649,\n    \"acceleration\": 16.5,\n    \"year\": 74,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota corona\"\n  },\n  {\n    \"mpg\": 32,\n    \"cylinders\": 4,\n    \"engine\": 83,\n    \"horsepower\": 61,\n    \"weight\": 2003,\n    \"acceleration\": 19,\n    \"year\": 74,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun 710\"\n  },\n  {\n    \"mpg\": 24,\n    \"cylinders\": 4,\n    \"engine\": 120,\n    \"horsepower\": 97,\n    \"weight\": 2489,\n    \"acceleration\": 15,\n    \"year\": 74,\n    \"origin\": \"Japanese\",\n    \"name\": \"honda civic\"\n  },\n  {\n    \"mpg\": 26,\n    \"cylinders\": 4,\n    \"engine\": 108,\n    \"horsepower\": 93,\n    \"weight\": 2391,\n    \"acceleration\": 15.5,\n    \"year\": 74,\n    \"origin\": \"Japanese\",\n    \"name\": \"subaru\"\n  },\n  {\n    \"mpg\": 29,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 75,\n    \"weight\": 2171,\n    \"acceleration\": 16,\n    \"year\": 75,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota corolla\"\n  },\n  {\n    \"mpg\": 24,\n    \"cylinders\": 4,\n    \"engine\": 134,\n    \"horsepower\": 96,\n    \"weight\": 2702,\n    \"acceleration\": 13.5,\n    \"year\": 75,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota corona\"\n  },\n  {\n    \"mpg\": 24,\n    \"cylinders\": 4,\n    \"engine\": 119,\n    \"horsepower\": 97,\n    \"weight\": 2545,\n    \"acceleration\": 17,\n    \"year\": 75,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun 710\"\n  },\n  {\n    \"mpg\": 33,\n    \"cylinders\": 4,\n    \"engine\": 91,\n    \"horsepower\": 53,\n    \"weight\": 1795,\n    \"acceleration\": 17.5,\n    \"year\": 75,\n    \"origin\": \"Japanese\",\n    \"name\": \"honda civic cvcc\"\n  },\n  {\n    \"mpg\": 33,\n    \"cylinders\": 4,\n    \"engine\": 91,\n    \"horsepower\": 53,\n    \"weight\": 1795,\n    \"acceleration\": 17.4,\n    \"year\": 76,\n    \"origin\": \"Japanese\",\n    \"name\": \"honda civic\"\n  },\n  {\n    \"mpg\": 32,\n    \"cylinders\": 4,\n    \"engine\": 85,\n    \"horsepower\": 70,\n    \"weight\": 1990,\n    \"acceleration\": 17,\n    \"year\": 76,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun b-210\"\n  },\n  {\n    \"mpg\": 28,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 75,\n    \"weight\": 2155,\n    \"acceleration\": 16.4,\n    \"year\": 76,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota corolla\"\n  },\n  {\n    \"mpg\": 19,\n    \"cylinders\": 6,\n    \"engine\": 156,\n    \"horsepower\": 108,\n    \"weight\": 2930,\n    \"acceleration\": 15.5,\n    \"year\": 76,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota mark ii\"\n  },\n  {\n    \"mpg\": 31.5,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": 68,\n    \"weight\": 2045,\n    \"acceleration\": 18.5,\n    \"year\": 77,\n    \"origin\": \"Japanese\",\n    \"name\": \"honda accord cvcc\"\n  },\n  {\n    \"mpg\": 33.5,\n    \"cylinders\": 4,\n    \"engine\": 85,\n    \"horsepower\": 70,\n    \"weight\": 1945,\n    \"acceleration\": 16.8,\n    \"year\": 77,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun f-10 hatchback\"\n  },\n  {\n    \"mpg\": 26,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 75,\n    \"weight\": 2265,\n    \"acceleration\": 18.2,\n    \"year\": 77,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota corolla liftback\"\n  },\n  {\n    \"mpg\": 30,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 67,\n    \"weight\": 1985,\n    \"acceleration\": 16.4,\n    \"year\": 77,\n    \"origin\": \"Japanese\",\n    \"name\": \"subaru dl\"\n  },\n  {\n    \"mpg\": 22,\n    \"cylinders\": 6,\n    \"engine\": 146,\n    \"horsepower\": 97,\n    \"weight\": 2815,\n    \"acceleration\": 14.5,\n    \"year\": 77,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun 810\"\n  },\n  {\n    \"mpg\": 21.5,\n    \"cylinders\": 3,\n    \"engine\": 80,\n    \"horsepower\": 110,\n    \"weight\": 2720,\n    \"acceleration\": 13.5,\n    \"year\": 77,\n    \"origin\": \"Japanese\",\n    \"name\": \"mazda rx-4\"\n  },\n  {\n    \"mpg\": 32.8,\n    \"cylinders\": 4,\n    \"engine\": 78,\n    \"horsepower\": 52,\n    \"weight\": 1985,\n    \"acceleration\": 19.4,\n    \"year\": 78,\n    \"origin\": \"Japanese\",\n    \"name\": \"mazda glc deluxe\"\n  },\n  {\n    \"mpg\": 39.4,\n    \"cylinders\": 4,\n    \"engine\": 85,\n    \"horsepower\": 70,\n    \"weight\": 2070,\n    \"acceleration\": 18.6,\n    \"year\": 78,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun b210 gx\"\n  },\n  {\n    \"mpg\": 36.1,\n    \"cylinders\": 4,\n    \"engine\": 91,\n    \"horsepower\": 60,\n    \"weight\": 1800,\n    \"acceleration\": 16.4,\n    \"year\": 78,\n    \"origin\": \"Japanese\",\n    \"name\": \"honda civic cvcc\"\n  },\n  {\n    \"mpg\": 27.5,\n    \"cylinders\": 4,\n    \"engine\": 134,\n    \"horsepower\": 95,\n    \"weight\": 2560,\n    \"acceleration\": 14.2,\n    \"year\": 78,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota corona\"\n  },\n  {\n    \"mpg\": 27.2,\n    \"cylinders\": 4,\n    \"engine\": 119,\n    \"horsepower\": 97,\n    \"weight\": 2300,\n    \"acceleration\": 14.7,\n    \"year\": 78,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun 510\"\n  },\n  {\n    \"mpg\": 21.1,\n    \"cylinders\": 4,\n    \"engine\": 134,\n    \"horsepower\": 95,\n    \"weight\": 2515,\n    \"acceleration\": 14.8,\n    \"year\": 78,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota celica gt liftback\"\n  },\n  {\n    \"mpg\": 23.9,\n    \"cylinders\": 4,\n    \"engine\": 119,\n    \"horsepower\": 97,\n    \"weight\": 2405,\n    \"acceleration\": 14.9,\n    \"year\": 78,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun 200-sx\"\n  },\n  {\n    \"mpg\": 29.5,\n    \"cylinders\": 4,\n    \"engine\": 98,\n    \"horsepower\": 68,\n    \"weight\": 2135,\n    \"acceleration\": 16.6,\n    \"year\": 78,\n    \"origin\": \"Japanese\",\n    \"name\": \"honda accord lx\"\n  },\n  {\n    \"mpg\": 34.1,\n    \"cylinders\": 4,\n    \"engine\": 86,\n    \"horsepower\": 65,\n    \"weight\": 1975,\n    \"acceleration\": 15.2,\n    \"year\": 79,\n    \"origin\": \"Japanese\",\n    \"name\": \"maxda glc deluxe\"\n  },\n  {\n    \"mpg\": 31.8,\n    \"cylinders\": 4,\n    \"engine\": 85,\n    \"horsepower\": 65,\n    \"weight\": 2020,\n    \"acceleration\": 19.2,\n    \"year\": 79,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun 210\"\n  },\n  {\n    \"mpg\": 38.1,\n    \"cylinders\": 4,\n    \"engine\": 89,\n    \"horsepower\": 60,\n    \"weight\": 1968,\n    \"acceleration\": 18.8,\n    \"year\": 80,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota corolla tercel\"\n  },\n  {\n    \"mpg\": 37.2,\n    \"cylinders\": 4,\n    \"engine\": 86,\n    \"horsepower\": 65,\n    \"weight\": 2019,\n    \"acceleration\": 16.4,\n    \"year\": 80,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun 310\"\n  },\n  {\n    \"mpg\": 29.8,\n    \"cylinders\": 4,\n    \"engine\": 134,\n    \"horsepower\": 90,\n    \"weight\": 2711,\n    \"acceleration\": 15.5,\n    \"year\": 80,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota corona liftback\"\n  },\n  {\n    \"mpg\": 31.3,\n    \"cylinders\": 4,\n    \"engine\": 120,\n    \"horsepower\": 75,\n    \"weight\": 2542,\n    \"acceleration\": 17.5,\n    \"year\": 80,\n    \"origin\": \"Japanese\",\n    \"name\": \"mazda 626\"\n  },\n  {\n    \"mpg\": 37,\n    \"cylinders\": 4,\n    \"engine\": 119,\n    \"horsepower\": 92,\n    \"weight\": 2434,\n    \"acceleration\": 15,\n    \"year\": 80,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun 510 hatchback\"\n  },\n  {\n    \"mpg\": 32.2,\n    \"cylinders\": 4,\n    \"engine\": 108,\n    \"horsepower\": 75,\n    \"weight\": 2265,\n    \"acceleration\": 15.2,\n    \"year\": 80,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota corolla\"\n  },\n  {\n    \"mpg\": 46.6,\n    \"cylinders\": 4,\n    \"engine\": 86,\n    \"horsepower\": 65,\n    \"weight\": 2110,\n    \"acceleration\": 17.9,\n    \"year\": 80,\n    \"origin\": \"Japanese\",\n    \"name\": \"mazda glc\"\n  },\n  {\n    \"mpg\": 40.8,\n    \"cylinders\": 4,\n    \"engine\": 85,\n    \"horsepower\": 65,\n    \"weight\": 2110,\n    \"acceleration\": 19.2,\n    \"year\": 80,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun 210\"\n  },\n  {\n    \"mpg\": 44.6,\n    \"cylinders\": 4,\n    \"engine\": 91,\n    \"horsepower\": 67,\n    \"weight\": 1850,\n    \"acceleration\": 13.8,\n    \"year\": 80,\n    \"origin\": \"Japanese\",\n    \"name\": \"honda civic 1500 gl\"\n  },\n  {\n    \"mpg\": 33.8,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 67,\n    \"weight\": 2145,\n    \"acceleration\": 18,\n    \"year\": 80,\n    \"origin\": \"Japanese\",\n    \"name\": \"subaru dl\"\n  },\n  {\n    \"mpg\": 32.7,\n    \"cylinders\": 6,\n    \"engine\": 168,\n    \"horsepower\": 132,\n    \"weight\": 2910,\n    \"acceleration\": 11.4,\n    \"year\": 80,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun 280-zx\"\n  },\n  {\n    \"mpg\": 23.7,\n    \"cylinders\": 3,\n    \"engine\": 70,\n    \"horsepower\": 100,\n    \"weight\": 2420,\n    \"acceleration\": 12.5,\n    \"year\": 80,\n    \"origin\": \"Japanese\",\n    \"name\": \"mazda rx-7 gs\"\n  },\n  {\n    \"mpg\": 32.4,\n    \"cylinders\": 4,\n    \"engine\": 107,\n    \"horsepower\": 72,\n    \"weight\": 2290,\n    \"acceleration\": 17,\n    \"year\": 80,\n    \"origin\": \"Japanese\",\n    \"name\": \"honda accord\"\n  },\n  {\n    \"mpg\": 39.1,\n    \"cylinders\": 4,\n    \"engine\": 79,\n    \"horsepower\": 58,\n    \"weight\": 1755,\n    \"acceleration\": 16.9,\n    \"year\": 81,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota starlet\"\n  },\n  {\n    \"mpg\": 35.1,\n    \"cylinders\": 4,\n    \"engine\": 81,\n    \"horsepower\": 60,\n    \"weight\": 1760,\n    \"acceleration\": 16.1,\n    \"year\": 81,\n    \"origin\": \"Japanese\",\n    \"name\": \"honda civic 1300\"\n  },\n  {\n    \"mpg\": 32.3,\n    \"cylinders\": 4,\n    \"engine\": 97,\n    \"horsepower\": 67,\n    \"weight\": 2065,\n    \"acceleration\": 17.8,\n    \"year\": 81,\n    \"origin\": \"Japanese\",\n    \"name\": \"subaru\"\n  },\n  {\n    \"mpg\": 37,\n    \"cylinders\": 4,\n    \"engine\": 85,\n    \"horsepower\": 65,\n    \"weight\": 1975,\n    \"acceleration\": 19.4,\n    \"year\": 81,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun 210 mpg\"\n  },\n  {\n    \"mpg\": 37.7,\n    \"cylinders\": 4,\n    \"engine\": 89,\n    \"horsepower\": 62,\n    \"weight\": 2050,\n    \"acceleration\": 17.3,\n    \"year\": 81,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota tercel\"\n  },\n  {\n    \"mpg\": 34.1,\n    \"cylinders\": 4,\n    \"engine\": 91,\n    \"horsepower\": 68,\n    \"weight\": 1985,\n    \"acceleration\": 16,\n    \"year\": 81,\n    \"origin\": \"Japanese\",\n    \"name\": \"mazda glc 4\"\n  },\n  {\n    \"mpg\": 33.7,\n    \"cylinders\": 4,\n    \"engine\": 107,\n    \"horsepower\": 75,\n    \"weight\": 2210,\n    \"acceleration\": 14.4,\n    \"year\": 81,\n    \"origin\": \"Japanese\",\n    \"name\": \"honda prelude\"\n  },\n  {\n    \"mpg\": 32.4,\n    \"cylinders\": 4,\n    \"engine\": 108,\n    \"horsepower\": 75,\n    \"weight\": 2350,\n    \"acceleration\": 16.8,\n    \"year\": 81,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota corolla\"\n  },\n  {\n    \"mpg\": 32.9,\n    \"cylinders\": 4,\n    \"engine\": 119,\n    \"horsepower\": 100,\n    \"weight\": 2615,\n    \"acceleration\": 14.8,\n    \"year\": 81,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun 200sx\"\n  },\n  {\n    \"mpg\": 31.6,\n    \"cylinders\": 4,\n    \"engine\": 120,\n    \"horsepower\": 74,\n    \"weight\": 2635,\n    \"acceleration\": 18.3,\n    \"year\": 81,\n    \"origin\": \"Japanese\",\n    \"name\": \"mazda 626\"\n  },\n  {\n    \"mpg\": 25.4,\n    \"cylinders\": 6,\n    \"engine\": 168,\n    \"horsepower\": 116,\n    \"weight\": 2900,\n    \"acceleration\": 12.6,\n    \"year\": 81,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota cressida\"\n  },\n  {\n    \"mpg\": 24.2,\n    \"cylinders\": 6,\n    \"engine\": 146,\n    \"horsepower\": 120,\n    \"weight\": 2930,\n    \"acceleration\": 13.8,\n    \"year\": 81,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun 810 maxima\"\n  },\n  {\n    \"mpg\": 37,\n    \"cylinders\": 4,\n    \"engine\": 91,\n    \"horsepower\": 68,\n    \"weight\": 2025,\n    \"acceleration\": 18.2,\n    \"year\": 82,\n    \"origin\": \"Japanese\",\n    \"name\": \"mazda glc custom l\"\n  },\n  {\n    \"mpg\": 31,\n    \"cylinders\": 4,\n    \"engine\": 91,\n    \"horsepower\": 68,\n    \"weight\": 1970,\n    \"acceleration\": 17.6,\n    \"year\": 82,\n    \"origin\": \"Japanese\",\n    \"name\": \"mazda glc custom\"\n  },\n  {\n    \"mpg\": 36,\n    \"cylinders\": 4,\n    \"engine\": 120,\n    \"horsepower\": 88,\n    \"weight\": 2160,\n    \"acceleration\": 14.5,\n    \"year\": 82,\n    \"origin\": \"Japanese\",\n    \"name\": \"nissan stanza xe\"\n  },\n  {\n    \"mpg\": 36,\n    \"cylinders\": 4,\n    \"engine\": 107,\n    \"horsepower\": 75,\n    \"weight\": 2205,\n    \"acceleration\": 14.5,\n    \"year\": 82,\n    \"origin\": \"Japanese\",\n    \"name\": \"honda accord\"\n  },\n  {\n    \"mpg\": 34,\n    \"cylinders\": 4,\n    \"engine\": 108,\n    \"horsepower\": 70,\n    \"weight\": 2245,\n    \"acceleration\": 16.9,\n    \"year\": 82,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota corolla\"\n  },\n  {\n    \"mpg\": 38,\n    \"cylinders\": 4,\n    \"engine\": 91,\n    \"horsepower\": 67,\n    \"weight\": 1965,\n    \"acceleration\": 15,\n    \"year\": 82,\n    \"origin\": \"Japanese\",\n    \"name\": \"honda civic\"\n  },\n  {\n    \"mpg\": 32,\n    \"cylinders\": 4,\n    \"engine\": 91,\n    \"horsepower\": 67,\n    \"weight\": 1965,\n    \"acceleration\": 15.7,\n    \"year\": 82,\n    \"origin\": \"Japanese\",\n    \"name\": \"honda civic (auto)\"\n  },\n  {\n    \"mpg\": 38,\n    \"cylinders\": 4,\n    \"engine\": 91,\n    \"horsepower\": 67,\n    \"weight\": 1995,\n    \"acceleration\": 16.2,\n    \"year\": 82,\n    \"origin\": \"Japanese\",\n    \"name\": \"datsun 310 gx\"\n  },\n  {\n    \"mpg\": 32,\n    \"cylinders\": 4,\n    \"engine\": 144,\n    \"horsepower\": 96,\n    \"weight\": 2665,\n    \"acceleration\": 13.9,\n    \"year\": 82,\n    \"origin\": \"Japanese\",\n    \"name\": \"toyota celica gt\"\n  } \n]\n}\n\nmsg.payload = cars();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 493,
        "y": 313,
        "wires": [
            [
                "e2508ab.1907f78"
            ]
        ]
    },
    {
        "id": "af04236a.eecb",
        "type": "http in",
        "z": "31f156fd.ce0eaa",
        "name": "",
        "url": "/sampleapp/dynamicsine",
        "method": "get",
        "swaggerDoc": "",
        "x": 263,
        "y": 393,
        "wires": [
            [
                "31a2067e.72916a"
            ]
        ]
    },
    {
        "id": "31a2067e.72916a",
        "type": "function",
        "z": "31f156fd.ce0eaa",
        "name": "dynamicsine",
        "func": "var time = 2*Math.PI * ((new Date()).valueOf() % 20000) / 20000;\nmsg.payload = {\n    time: new Date(),\n    sin: Math.sin(time),\n    cos: Math.cos(time)\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 531,
        "y": 393,
        "wires": [
            [
                "3451f54c.7f64ca"
            ]
        ]
    },
    {
        "id": "3451f54c.7f64ca",
        "type": "http response",
        "z": "31f156fd.ce0eaa",
        "name": "dynamicsine",
        "x": 749,
        "y": 393,
        "wires": []
    },
    {
        "id": "58c15a2a.0b75d4",
        "type": "inject",
        "z": "63221c4b.14b9a4",
        "name": "Inject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 209,
        "y": 169,
        "wires": [
            [
                "8aaf54c8.8e0768"
            ]
        ]
    },
    {
        "id": "8aaf54c8.8e0768",
        "type": "function",
        "z": "63221c4b.14b9a4",
        "name": "Random value",
        "func": "\nmsg.payload = [\n    {\"label\":\"Random One\",\n     \"value\":Math.floor(Math.random() * 10) + 1  \n    },\n    {\"label\":\"Random Two\",\n     \"value\":Math.floor(Math.random() * 10) + 1  \n    }\n    ]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 419,
        "y": 170,
        "wires": [
            [
                "e3c54e5f.d9779",
                "ac935458.bf6e98"
            ]
        ]
    },
    {
        "id": "e3c54e5f.d9779",
        "type": "debug",
        "z": "63221c4b.14b9a4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 608,
        "y": 191,
        "wires": []
    },
    {
        "id": "ac935458.bf6e98",
        "type": "websocket out",
        "z": "63221c4b.14b9a4",
        "name": "Random websocket",
        "server": "ab1ada0d.0d25c8",
        "client": "",
        "x": 580,
        "y": 254,
        "wires": []
    }
]