READ.meteor/private/samples/nodered/samples/.flows.json.backup
[
    {
        "id": "31f156fd.ce0eaa",
        "type": "tab",
        "label": "READ sample app"
    },
    {
        "id": "d3c49246.2c3b7",
        "type": "http in",
        "z": "31f156fd.ce0eaa",
        "name": "",
        "url": "/sampleapp/sinandcos",
        "method": "get",
        "swaggerDoc": "",
        "x": 266,
        "y": 115,
        "wires": [
            [
                "5e5eb5bc.a1a14c"
            ]
        ]
    },
    {
        "id": "5e5eb5bc.a1a14c",
        "type": "function",
        "z": "31f156fd.ce0eaa",
        "name": "sinandcos",
        "func": "/*Random Data Generator */\nfunction sinAndCos() {\n    var sin = [],sin2 = [], cos = [];\n    var data = [];\n\n    //Data is represented as an array of {x,y} pairs.\n    for (var i = 0; i < 100; i++) {\n        data.push({\n            time: i,\n            sin: Math.sin(i/10),\n            sin2: Math.sin(i/10) *0.25 + 0.5,\n            cos: 0.5 * Math.cos(i/10+ 2) + Math.random() / 2\n        });\n    }\n    return data;\n}\n\nmsg.payload = sinAndCos();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 534,
        "y": 115,
        "wires": [
            [
                "11d8f63a.ee270a"
            ]
        ]
    },
    {
        "id": "11d8f63a.ee270a",
        "type": "http response",
        "z": "31f156fd.ce0eaa",
        "name": "sinandcos",
        "x": 752,
        "y": 115,
        "wires": []
    },
    {
        "id": "ab7cd64b.e8b208",
        "type": "http in",
        "z": "31f156fd.ce0eaa",
        "name": "",
        "url": "/sampleapp/sincosmissing",
        "method": "get",
        "swaggerDoc": "",
        "x": 242,
        "y": 220,
        "wires": [
            [
                "c882b568.93faf8"
            ]
        ]
    },
    {
        "id": "c882b568.93faf8",
        "type": "function",
        "z": "31f156fd.ce0eaa",
        "name": "sincosmissing",
        "func": "/*Random Data Generator */\nfunction sinAndCos() {\n    var sin = [],sin2 = [], cos = [];\n    var data = [];\n\n    //Data is represented as an array of {x,y} pairs.\n    for (var i = 0; i < 100; i++) {\n        let obj = {};\n        obj.time = i;\n        if (Math.random() > 0.05) obj.sin = Math.sin(i/10);\n        if (Math.random() > 0.05) obj.sin2 = Math.sin(i/10) *0.25 + 0.5;\n        if (Math.random() > 0.05) obj.cos = 0.5 * Math.cos(i/10+ 2) + Math.random() / 2;\n        data.push(obj);\n    }\n    return data;\n}\n\nmsg.payload = sinAndCos();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 535,
        "y": 220,
        "wires": [
            [
                "ccddb9d7.c5e998"
            ]
        ]
    },
    {
        "id": "ccddb9d7.c5e998",
        "type": "http response",
        "z": "31f156fd.ce0eaa",
        "name": "sincosmissing",
        "x": 753,
        "y": 220,
        "wires": []
    },
    {
        "id": "e2508ab.1907f78",
        "type": "http response",
        "z": "31f156fd.ce0eaa",
        "name": "cars",
        "x": 685,
        "y": 313,
        "wires": []
    },
    {
        "id": "bba6d7a4.197728",
        "type": "http in",
        "z": "31f156fd.ce0eaa",
        "name": "",
        "url": "/sampleapp/cars",
        "method": "get",
        "swaggerDoc": "",
        "x": 267,
        "y": 313,
        "wires": [
            [
                "5db73c9.eaa00c4"
            ]
        ]
    },
    {
        "id": "5db73c9.eaa00c4",
        "type": "function",
        "z": "31f156fd.ce0eaa",
        "name": "cars",
        "func": "/*Random Data Generator */\nfunction sinAndCos() {\n    var sin = [],sin2 = [], cos = [];\n    var data = [];\n\n    //Data is represented as an array of {x,y} pairs.\n    for (var i = 0; i < 100; i++) {\n        let obj = {};\n        obj.time = i;\n        if (Math.random() > 0.05) obj.sin = Math.sin(i/10);\n        if (Math.random() > 0.05) obj.sin2 = Math.sin(i/10) *0.25 + 0.5;\n        if (Math.random() > 0.05) obj.cos = 0.5 * Math.cos(i/10+ 2) + Math.random() / 2;\n        data.push(obj);\n    }\n    return data;\n}\n\nmsg.payload = sinAndCos();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 493,
        "y": 313,
        "wires": [
            [
                "e2508ab.1907f78"
            ]
        ]
    }
]