READ.meteor/private/samples/nodered/samples/flows.json
[
    {
        "id": "31f156fd.ce0eaa",
        "type": "tab",
        "label": "READ sample app"
    },
    {
        "id": "d3c49246.2c3b7",
        "type": "http in",
        "z": "31f156fd.ce0eaa",
        "name": "sinandcos",
        "url": "/sampleapp/sinandcos",
        "method": "get",
        "swaggerDoc": "",
        "x": 198,
        "y": 128,
        "wires": [
            [
                "5e5eb5bc.a1a14c"
            ]
        ]
    },
    {
        "id": "5e5eb5bc.a1a14c",
        "type": "function",
        "z": "31f156fd.ce0eaa",
        "name": "sinandcos",
        "func": "/*Random Data Generator */\nfunction sinAndCos() {\n    var sin = [],sin2 = [], cos = [];\n    var data = [];\n\n    //Data is represented as an array of {x,y} pairs.\n    for (var i = 0; i < 100; i++) {\n        data.push({\n            time: i,\n            sin: Math.sin(i/10),\n            sin2: Math.sin(i/10) *0.25 + 0.5,\n            cos: 0.5 * Math.cos(i/10+ 2) + Math.random() / 2\n        });\n    }\n    return data;\n}\n\nvar dataObject = sinAndCos();\n\nreturn msg.res.status(200).send(dataObject);",
        "outputs": 1,
        "noerr": 0,
        "x": 444,
        "y": 128,
        "wires": [
            [
                "11d8f63a.ee270a"
            ]
        ]
    },
    {
        "id": "11d8f63a.ee270a",
        "type": "http response",
        "z": "31f156fd.ce0eaa",
        "name": "sinandcos",
        "x": 662,
        "y": 127,
        "wires": []
    }
]